#stylebot{
    display:none;
    opacity:0.9;
    top:10%;
    right:10%;
    position:fixed;
    border:1px solid #ccc;
    width:300px;
    background-color:#f5f5f5;
    color:#313131;
    -webkit-box-shadow:0px 0px 10px #bbb;
    border-radius:8px;
    font-family:Helvetica, Arial, serif !important;
    font-size:12px;
    z-index:100000;
    text-align:left;
    line-height:12px;
}

.stylebot-header{
    color:#333;
    text-align:center;
    font-size:12px;
    font-weight:bold;
    padding:5px;
    text-shadow:1px 1px 0px #fff;
    border-bottom:1px solid #ccc;
    -webkit-box-shadow:0px 1px 0px #fff;
}

ul.stylebot-controls{
    list-style-type:none;
    margin:0;
    border:none;
    padding: 5px 10px;
    border-bottom:1px solid #ccc;
    -webkit-box-shadow:0px 1px 0px #fff;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
}

li.stylebot-control{
    padding:2px;
    margin:5px 0;
    border-radius:2px;
    border:none;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
}

.stylebot-label{
    text-shadow:1px 1px 0px #fff;
    width:80px;
    padding-right:4px;
    display:inline-block;
    text-align:right;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
}

.stylebot-inline-label{
    font-family:inherit;
    font-size:inherit;
    color:inherit;
    display:inline;
    padding-right:5px;
}

#stylebot-main-buttons{
    padding:5px;
    height:20px;
    text-align:center;
}

.stylebot-button{
    background-color:#fbfbfb;
    border-radius:2px;
    padding:3px 4px;
    border:none;
    -webkit-box-shadow:0px 0px 1px #333;
    color:#313131;
    margin:0px 5px;
    cursor:pointer;
    font-family:inherit;
    font-size:11px;
}

.stylebot-button:hover{
    background-color:#686868;
    color:#fff;
}

.stylebot-tool{
    margin:0px 2px;
}

input.stylebot-textfield{
    padding:2px;
    border:1px solid #ccc !important;
    border-radius:2px;
    outline:none;
    -webkit-box-shadow:none !important;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
}

input.stylebot-checkbox{
/*    -khtml-appearance:none;*/
    border:1px solid #ccc;
    outline:none;
    border-radius:2px;
}