/* Main */

#stylebot {
    color: #313131;
    font-family: Helvetica, Arial, serif;
    font-size: 12px;
    width: 300px;
    height: auto !important;
    line-height: 12px;
    margin: 0;
    text-align: left;
    position: fixed;
    top: 10%;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    z-index: 10000;
}

#stylebot-header {
    padding: 10px;
    background: #C2C2C2;
    background: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#C2C2C2));
    background: -moz-linear-gradient(left top, left bottom, from(#EAEAEA), to(#C2C2C2));
    text-shadow: 0px 1px 1px #fff;
    color: #2c2c2c;
    line-height: 15px;
    font-weight: bold;
    display: block;
    min-height: 15px;
}

#stylebot-editing-field {
    font-size: 12px !important;
}    

#stylebot-header-text {
    float: left;
}

#stylebot-header-text:hover {
    cursor: text;
    background-color: #fbfbfb;
}

#stylebot-controls {
    -webkit-box-shadow: 0px 1px 0px #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

.stylebot-control-set {
    -webkit-border-radius: 2px;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 6px 0;
    padding: 2px;
}

.stylebot-control {
    display: inline;
    margin: 0;
    margin-left: 6px;
    padding: 0;
    width: auto;
}

/* Labels */

.stylebot-label {
    color: #2c2c2c;
    text-shadow: 0px 1px 1px #fff;
    display: inline-block;
    float: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    margin: 0;
    padding-right: 4px;
    text-align: right;
    width: 80px;
}

.stylebot-inline-label {
    color: inherit;
    display: inline;
    padding-right: 5px;
    font-family: inherit;
    font-size: inherit;
    font-weight:normal;
}

/* Options */

#stylebot-widget-options {
    font-size: 11px;
    margin-top: 10px;
    padding: 10px;
    padding-left: 25px;
}

/* Main buttons */

#stylebot-main-buttons {
    margin: 8px 0;
    text-align: center;
}

/* Code */

.stylebot-css-code {
    color: #333 !important;
    font-size: 12px !important;
    font-family: 'Andale Mono', 'Lucida Console', monospace !important;
}

/* Accordion modifications */
.stylebot-ui .ui-accordion .ui-accordion-header a:active {
    color: #4f4f4f !important;
}
.stylebot-ui .ui-accordion .ui-accordion-header {
    font-family: Helvetica, Arial, serif !important;
}