@extension_description
Ändern Sie das Erscheinungsbild des Webs sofort

#==== CSS Properties ====

@font_family
Schriftart

@font_size
Größe

@font_style
Stil

@line_height
Zeilenhöhe

@text_decoration
Textdekoration

@text_transform
Textumwandlung

@text_align
Ausrichtung

@text_color
Textfarbe

@background_color
Hintergrund

@visibility
Sichtbarkeit

@hide
Ausblenden

@margin
Außenabstand

@border
Rahmen

@padding
Innenabstand

@width
Breite

@height
Höhe

@none
Keiner

@default
Standard

@thin
Fein

@light
Dünn

@regular
Normal

@medium
Mittel

@bold
Fett

@black
Schwarz

@thin_italic
Fein kursiv

@light_italic
Dünn kursiv

@italic
Kursiv

@medium_italic
Mittel kursiv

@bold_italic
Fett Kursiv

@black_italic
Schwarz kursiv

@border_style
Rahmenart

@border_color
Rahmenfarbe

@border_none
Kein Rahmen

@border_solid
Durchgezogen

@border_dotted
Gepunktet

@border_dashed
Gestrichelt

@border_double
Doppelt durchgezogen

@border_groove
Rille

@border_ridge
Grat

@border_inset
Eingesetzt

@border_outset
Aufgesetzt

#==== Editor ====
@text_properties
Text

@color_properties
Farben

@layout_properties
Layout

@border_properties
Rahmen

@basic_mode
Einfach

@basic_mode_description
Visual CSS-Editor

@magic_mode
Magisch

@magic_mode_description
Experimentelle Merkmale

@code_mode
Code

@code_mode_description
Code

@inspect_description 
Wählen Sie ein Element auf der Seite aus, um es zu formatieren

@enter_css_selector
CSS-Auswahl eingeben ...

@delete_style
Stil löschen ...

@delete_style_for_url_title
Stil für $url$ löschen

@delete_style_for_url_description
Dadurch wird Ihr CSS für $url$ dauerhaft gelöscht. Sie können dies nicht rückgängig machen.

@delete
Löschen

@cancel
Abbrechen

@view_options
Optionen...

@view_keyboard_shortcuts
Tastaturkürzel anzeigen ...

@resize
Größenänderung

@dock_to_right
Nach rechts ziehen

@dock_to_left
Nach links ziehen

@adjust_page_layout
PAGE-Layout anpassen

@close
Schließen

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
Tastatürkürzel

@customize
Anpassen

@editor
Editor

@global
Global

@toggle_editor
Editor umschalten

@toggle_styling
Styling umschalten

@toggle_readability
Lesbarkeit umschalten

@toggle_grayscale
Graustufen umschalten

@toggle_inspector
Elementinspektor umschalten

@move_editor
Editor verschieben

@set_basic_mode
Wechseln Sie zum Basiseditor

@set_magic_mode
Wechseln Sie zum magischen Editor

@set_code_mode
Wechseln Sie zum Code-Editor

@show_help
Hilfe anzeigen

@hide_element
Wenden Sie CSS an, um ausgewählte Elemente ein-/auszublenden

@styling
Styling

@magic_mode_description
Experimentelle Merkmale. Funktioniert möglicherweise nicht auf allen Seiten wie erwartet.

#==== Readability ====

@readability
Lesbarkeit

@enable_readability
Lesbarkeit aktivieren

@readability_description
Machen Sie Artikel auf dieser Website lesbar, indem Sie nicht wesentliche Seitenelemente wie Seitenleisten, Fußzeilen und Anzeigen ausblenden.

@theme
Thema

@light_theme
Hell

@dark_theme
Dunkel

@sepia_theme
Sepia

@decrease_width
Breite verringern

@increase_width
Breite erhöhen

#==== Grayscale ====

@grayscale
Graustufen

@grayscale_description
Wenden Sie Graustufen auf die Seite an.

#==== Popup ====

@open_stylebot
Stylebot öffnen

@close_stylebot
Stylebot schließen

@see_whats_new_3_1
Sehen Sie, was neu ist in 3.1 ...

#==== Context Menu ====

@style_element
Stilelement

#==== Options ====

@basics_options
Grundeinstellungen

@styles_options
Stile

@sync_options
Sync

@help_options
Hilfe

@donate
Spenden

#==== Basics ====

@context_menu
Kontextmenü

@enable_right_click_menu
Rechtsklick-Menü aktivieren

@fonts
Lettertypen

@fonts_description
Voer de door de komma gescheiden lijst met lettertypen in om beschikbaar te stellen voor styling.Alle lokale of Google -lettertypen worden ondersteund

@fonts_edit_list
Letterlijst bewerken ...

#==== Styles ====

@add_new_style
Neuen Stil hinzufügen ...

@enable_all_styles
Alles aktivieren

@disable_all_styles
Alle deaktivieren

@open_delete_all_styles_dialog
Alles löschen ...

@delete_all_warning
Dadurch werden alle Ihre Stile dauerhaft gelöscht. Sie können dies nicht rückgängig machen.

@delete_all_styles
Alle Stile löschen

@open_delete_style_dialog
Löschen ...

@delete_style_warning
Dadurch wird Ihr Stil dauerhaft gelöscht. Sie können dies nicht rückgängig machen.

@open_edit_style_dialog
Bearbeiten ...

@save
Speichern

#==== Sync ====

@sync_via_google_drive
Manuelle Synchronisierung über Google Drive

@sync_description
Sie müssen manuell synchronisieren, um Remote- und / oder lokale Stile zu aktualisieren.

@view_synced_file
Ansehen

@download_synced_file
Herunterladen

@sync_now
Jetzt synchronisieren

@sync_in_progress
Synchronisieren ...

@synced_at_time
Synchronisiert $time$

@disable_google_drive_sync
Deaktivieren Sie die Google Drive-Synchronisierung

@enable_google_drive_sync
Aktivieren Sie die Google Drive-Synchronisierung

#==== Backup ====

@backup
Backup

@backup_description
Exportieren und importieren Sie Stile als JSON

@export
Export

@import
Importieren

@import_success
Stile erfolgreich importiert

@import_error
Stile konnten nicht importiert werden - $error$

#==== Store Listing ====

@store_listing

Sie wählen ein Element aus und wählen alle Änderungen aus, die Sie im Editor vornehmen möchten. Sie können Schriftart, Farbe, Ränder, Sichtbarkeit und vieles mehr ändern. Sie können CSS auch manuell codieren.

★ Einfache Verwendung: Wählen Sie Elemente mithilfe von UI-Aktionen aus und gestalten Sie sie
★ Einfach und schnell: Änderungen werden sofort gespeichert
★ Code-Editor - Schreiben Sie Ihr eigenes CSS
★ Lesbarkeitsmodus - Machen Sie Artikel auf jeder Website lesbar, indem Sie nicht wesentliche Seitenelemente wie Seitenleisten, Fußzeilen und Anzeigen ausblenden.
★ Graustufenmodus - Aktivieren Sie Graustufen, um die Belastung von Websites zu verringern

@privacy_policy

Datenschutz-Bestimmungen:

Stylebot hat niemals persönliche Daten, Browserverlauf usw. gesammelt und wird diese niemals sammeln. Die Erlaubnis zum Zugriff auf Websites besteht darin, dass Sie das CSS nur für eine Webseite anpassen und Ihr CSS automatisch anwenden können, wenn Sie die Webseite in Zukunft besuchen.

In Zukunft kann Stylebot die Browserversion, den Plattformnamen und die Benutzereinstellungen erfassen (mit Ausnahme der Website-Liste oder anderer Daten, die zur Identifizierung des Benutzers beitragen können). Diese Informationen werden benötigt, um zu entscheiden, ob neue Funktionen implementiert, nicht verwendete Funktionen entfernt oder Standardeinstellungen für neue Benutzer vorgeschlagen werden sollen. Dies wird nur mit Ihrer Erlaubnis erfasst.
