@extension_description
Ändern Sie das Erscheinungsbild des Webs sofort

#==== CSS Properties ====

@font_family
Schriftart

@font_size
Größe

@font_style
Stil

@line_height
Zeilenhöhe

@text_decoration
Dekoration

@text_transform
Verwandeln

@text_align
Ausrichtung

@text_color
Text

@background_color
Hintergrund

@visibility
Sichtweite

@hide
Ausblenden

@margin
Spanne

@border
Rand

@padding
Polsterung

@width
Breite

@height
Höhe

@none
Keiner

@default
Standard

@thin
Dünn

@light
Licht

@regular
Regulär

@medium
Mittel

@bold
Fett gedruckt

@black
Schwarz

@thin_italic
Dünn kursiv

@light_italic
Leicht kursiv

@italic
Kursiv

@medium_italic
Mittel kursiv

@bold_italic
Fett Kursiv

@black_italic
Schwarz kursiv

@border_style
Stil

@border_color
Farbe

@border_none
Keiner

@border_solid
Solide

@border_dotted
Gepunktet

@border_dashed
Gestrichelt

@border_double
Doppelt

@border_groove
Rille

@border_ridge
Grat

@border_inset
Einsatz

@border_outset
Anfang

#==== Editor ====
@text_properties
Text

@color_properties
Farben

@layout_properties
Layout

@border_properties
Rand

@basic_mode
Basic

@basic_mode_description
Visual CSS-Editor

@magic_mode
Magie

@magic_mode_description
Experimentelle Merkmale

@code_mode
Code

@code_mode_description
Code

@inspect_description 
Wählen Sie ein Element auf der Seite aus, um es zu formatieren

@enter_css_selector
CSS-Auswahl eingeben ...

@delete_style
Stil löschen ...

@delete_style_for_url_title
Stil für $url$ löschen

@delete_style_for_url_description
Dadurch wird Ihr CSS für $url$ dauerhaft gelöscht. Sie können dies nicht rückgängig machen.

@delete
Löschen

@cancel
Stornieren

@view_options
Optionen...

@view_keyboard_shortcuts
Tastaturkürzel anzeigen ...

@move_left
Geh nach links

@move_right
Nach rechts bewegen

@close
Schließen

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
Tastatürkürzel

@customize
Anpassen

@editor
Editor

@global
Global

@toggle_editor
Editor umschalten

@toggle_styling
Styling umschalten

@toggle_readability
Lesbarkeit umschalten

@toggle_grayscale
Graustufen umschalten

@toggle_inspector
Elementinspektor umschalten

@move_editor
Editor verschieben

@set_basic_mode
Wechseln Sie zum Basiseditor

@set_magic_mode
Wechseln Sie zum Magic Editor

@set_code_mode
Wechseln Sie zum Code-Editor

@show_help
Zeig Hilfe

@hide_element
Wenden Sie CSS an, um ausgewählte Elemente ein- / auszublenden

@styling
Styling

@magic_mode_description
Experimentelle Merkmale. Funktioniert möglicherweise nicht auf allen Seiten wie erwartet.

#==== Readability ====

@readability
Lesbarkeit

@enable_readability
Lesbarkeit aktivieren

@readability_description
Machen Sie Artikel auf dieser Website lesbar, indem Sie nicht wesentliche Seitenelemente wie Seitenleisten, Fußzeilen und Anzeigen ausblenden.

@theme
Thema

@light_theme
Licht

@dark_theme
Dunkel

@sepia_theme
Sepia

@decrease_width
Breite verringern

@increase_width
Breite erhöhen

#==== Grayscale ====

@grayscale
Graustufen

@grayscale_description
Wenden Sie Graustufen auf die Seite an.

#==== Popup ====

@open_stylebot
Öffnen Sie den Stylebot

@close_stylebot
Stylebot schließen

#==== Context Menu ====

@style_element
Stilelement

#==== Options ====

@basics_options
Grundlagen

@styles_options
Stile

@backup_options
Backup

@help_options
Hilfe

@context_menu
Kontextmenü

@enable_right_click_menu
Rechtsklick-Menü aktivieren

@donate
Spenden

@backup_description
Bis wir die automatische Synchronisierung / Sicherung unterstützen, sichern Sie Ihre CSS bitte manuell.

@open_export_dialog
Export...

@open_import_dialog
Importieren...

@add_new_style
Neuen Stil hinzufügen ...

@enable_all_styles
Alles aktivieren

@disable_all_styles
Alle deaktivieren

@open_delete_all_styles_dialog
Alles löschen...

@delete_all_warning
Dadurch werden alle Ihre Stile dauerhaft gelöscht. Sie können dies nicht rückgängig machen.

@delete_all_styles
Alle Stile löschen

@open_delete_style_dialog
Löschen...

@delete_style_warning
Dadurch wird Ihr Stil dauerhaft gelöscht. Sie können dies nicht rückgängig machen.

@open_edit_style_dialog
Bearbeiten...

@save
sparen

@export_dialog_title
Kopieren / Einfügen in eine JSON-Datei

@export_instructions
Bewahren Sie den JSON sicher auf, um ihn später zu importieren

@copy_to_clipboard
In die Zwischenablage kopieren

@import_dialog_title
Fügen Sie zuvor exportiertes JSON ein

@import_instructions
Dadurch werden Ihre vorhandenen Stile überschrieben. Sie können dies nicht rückgängig machen.

@import_error
Beim Importieren des JSON ist ein Fehler aufgetreten. Bitte stellen Sie sicher, dass es richtig formatiert ist, und versuchen Sie es erneut.

@import 
Importieren

#==== Store Listing ====

@store_listing

Ändern Sie das Erscheinungsbild des Webs sofort

Sie wählen ein Element aus und wählen alle Änderungen aus, die Sie im Editor vornehmen möchten. Sie können Schriftart, Farbe, Ränder, Sichtbarkeit und vieles mehr ändern. Sie können CSS auch manuell codieren.

★ Einfache Verwendung: Wählen Sie Elemente mithilfe von UI-Aktionen aus und gestalten Sie sie
★ Einfach und schnell: Änderungen werden sofort gespeichert
★ Code-Editor - Schreiben Sie Ihr eigenes CSS
★ Lesbarkeitsmodus - Machen Sie Artikel auf jeder Website lesbar, indem Sie nicht wesentliche Seitenelemente wie Seitenleisten, Fußzeilen und Anzeigen ausblenden.
★ Graustufenmodus - Aktivieren Sie Graustufen, um die Belastung von Websites zu verringern

@privacy_policy

Datenschutz-Bestimmungen:

Stylebot hat niemals persönliche Daten, Browserverlauf usw. gesammelt und wird diese niemals sammeln. Die Erlaubnis zum Zugriff auf Websites besteht darin, dass Sie das CSS nur für eine Webseite anpassen und Ihr CSS automatisch anwenden können, wenn Sie die Webseite in Zukunft besuchen.

In Zukunft kann Stylebot die Browserversion, den Plattformnamen und die Benutzereinstellungen erfassen (mit Ausnahme der Website-Liste oder anderer Daten, die zur Identifizierung des Benutzers beitragen können). Diese Informationen werden benötigt, um zu entscheiden, ob neue Funktionen implementiert, nicht verwendete Funktionen entfernt oder Standardeinstellungen für neue Benutzer vorgeschlagen werden sollen. Es wird nur mit Ihrer Erlaubnis geschehen.