@extension_description
Change the appearance of the web instantly

#==== CSS Properties ====

@font_family
Font

@font_size
Size

@font_weight
Weight

@font_style
Style

@line_height
Line Height

@text_decoration
Decorate

@text_transform
Transform

@text_align
Align

@text_color
Text color

@background_color
Background

@visibility
Visibility

@hide
Hide

@margin
Margin

@padding
Padding

@width
Width

@height
Height

@none
None

#==== Editor ====
@text_and_color
Text and Colors

@visibility_and_layout
Visibility and Layout

@basic_mode
Basic

@magic_mode
Magic

@code_mode
Code

@inspect_description 
Select an element in the page to style it

@enter_css_selector
Enter CSS Selector...

@delete_style
Delete style...

@delete
Delete

@cancel
Cancel

@view_options
Options...

@view_keyboard_shortcuts
View keyboard shortcuts...

@move_left
Move Left

@move_right
Move Right

@close
Close

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
Keyboard shortcuts

@customize
Customize

@editor
Editor

@global
Global

@toggle_editor
Toggle editor

@toggle_styling
Toggle styling

@toggle_readability
Toggle readability

@toggle_grayscale
Toggle grayscale

@toggle_inspector
Toggle element inspector

@move_editor
Move editor

@set_basic_mode
Switch to basic editor

@set_magic_mode
Switch to magic editor

@set_code_mode
Switch to code editor

@show_help
Show help

@hide_element
Apply CSS to show/hide selected elements

@styling
Styling

@magic_mode_description
Experimental features. May not work as expected on all pages.

#==== Readability ====

@readability
Readability

@enable_readability
Enable Readability

@readability_description
Make articles on this site readable by hiding non-essential page elements like sidebars, footers and ads.

@theme
Theme

@light_theme
Light

@dark_theme
Dark

@sepia_theme
Sepia

@decrease_width
Decrease Width

@increase_width
Increase Width

#==== Grayscale ====

@grayscale
Grayscale

@grayscale_description
Apply grayscale to the page.

#==== Popup ====

@open_stylebot
Open Stylebot

@close_stylebot
Close Stylebot

#==== Options ====

@basic_options
Basics

@style_options
Styles

@backup_options
Backup

@help_options
Help

@context_menu
Context Menu

@enable_right_click_menu
Enable Right Click Menu

@donate
Donate

@backup_description
Until we support automated sync/backup, please manually backup your css.

@open_export_dialog
Export...

@open_import_dialog
Import...

@add_new_style
Add a new style...

@enable_all_styles
Enable all

@disable_all_styles
Disable all

@open_delete_all_styles_dialog
Delete all...

@delete_all_warning
This will permanently delete all your styles. You can't undo this.

@delete_all_styles
Delete All Styles

@open_delete_style_dialog
Delete...

@delete_style_warning
This will permanently delete your style. You can't undo this.

@open_edit_style_dialog
Edit...

@save
Save

@export_dialog_title
Copy / paste into a JSON file

@export_instructions
Keep the JSON safe to import it later

@copy_to_clipboard
Copy to Clipboard

@import_dialog_title
Paste previously exported JSON

@import_instructions
This will overwrite your existing styles. You can't undo this.

@import_error
We encountered an error importing the JSON. Please ensure it is properly formatted and try again.

@import 
Import