@extension_description
Change the appearance of the web instantly

#==== CSS Properties ====

@font_family
Font

@font_size
Size

@font_style
Style

@line_height
Line Height

@text_decoration
Decoration

@text_transform
Transform

@text_align
Alignment

@text_color
Text

@background_color
Background

@visibility
Visibility

@hide
Hide

@margin
Margin

@border
Border

@padding
Padding

@width
Width

@height
Height

@none
None

@default
Default

@thin
Thin

@light
Light

@regular
Regular

@medium
Medium

@bold
Bold

@black
Black

@thin_italic
Thin Italic

@light_italic
Light Italic

@italic
Italic

@medium_italic
Medium Italic

@bold_italic
Bold Italic

@black_italic
Black Italic

@border_style
Style

@border_color
Color

@border_none
None

@border_solid
Solid

@border_dotted
Dotted

@border_dashed
Dashed

@border_double
Double

@border_groove
Groove

@border_ridge
Ridge

@border_inset
Inset

@border_outset
Outset

#==== Editor ====
@text_properties
Text

@color_properties
Colors

@layout_properties
Layout

@border_properties
Border

@basic_mode
Basic

@basic_mode_description
Visual CSS editor

@magic_mode
Magic

@magic_mode_description
Experimental features

@code_mode
Code

@code_mode_description
Code

@inspect_description 
Select an element in the page to style it

@enter_css_selector
Enter CSS Selector...

@delete_style
Delete style...

@delete_style_for_url_title
Delete style for $url$

@delete_style_for_url_description
This will permanently delete your css for $url$. You cannot undo this.

@delete
Delete

@cancel
Cancel

@view_options
Options...

@view_keyboard_shortcuts
View keyboard shortcuts...

@move_left
Move Left

@move_right
Move Right

@close
Close

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
Keyboard shortcuts

@customize
Customize

@editor
Editor

@global
Global

@toggle_editor
Toggle editor

@toggle_styling
Toggle styling

@toggle_readability
Toggle readability

@toggle_grayscale
Toggle grayscale

@toggle_inspector
Toggle element inspector

@move_editor
Move editor

@set_basic_mode
Switch to basic editor

@set_magic_mode
Switch to magic editor

@set_code_mode
Switch to code editor

@show_help
Show help

@hide_element
Apply CSS to show/hide selected elements

@styling
Styling

@magic_mode_description
Experimental features. May not work as expected on all pages.

#==== Readability ====

@readability
Readability

@enable_readability
Enable Readability

@readability_description
Make articles on this site readable by hiding non-essential page elements like sidebars, footers and ads.

@theme
Theme

@light_theme
Light

@dark_theme
Dark

@sepia_theme
Sepia

@decrease_width
Decrease Width

@increase_width
Increase Width

#==== Grayscale ====

@grayscale
Grayscale

@grayscale_description
Apply grayscale to the page.

#==== Popup ====

@open_stylebot
Open Stylebot

@close_stylebot
Close Stylebot

#==== Context Menu ====

@style_element
Style Element

#==== Options ====

@basics_options
Basics

@styles_options
Styles

@sync_options
Sync

@help_options
Help

@donate
Donate

#==== Basics ====

@context_menu
Context Menu

@enable_right_click_menu
Enable Right Click Menu

#==== Styles ====

@add_new_style
Add a new style...

@enable_all_styles
Enable all

@disable_all_styles
Disable all

@open_delete_all_styles_dialog
Delete all...

@delete_all_warning
This will permanently delete all your styles. You can't undo this.

@delete_all_styles
Delete All Styles

@open_delete_style_dialog
Delete...

@delete_style_warning
This will permanently delete your style. You can't undo this.

@open_edit_style_dialog
Edit...

@save
Save

#==== Sync ====

@sync_via_google_drive
Manual Sync via Google Drive

@sync_description
You need to manually sync to update remote and/or local styles.

@view_synced_file
View

@download_synced_file
Download

@sync_now
Sync Now

@sync_in_progress
Syncing...

@synced_at_time
Synced $time$

@disable_google_drive_sync
Disable Google Drive Sync

@enable_google_drive_sync
Enable Google Drive Sync

#==== Backup ====

@backup
Backup

@export
Export

@import 
Import

#==== Store Listing ====

@store_listing

You pick an element and choose any changes you want to make from the editor. You can change the font, color, margins, visibility and a lot more. You can also code CSS manually.

★ Easy to use: Pick and style elements using UI actions
★ Simple & Quick: Changes are saved instantly
★ Code editor - Write your own CSS 
★ Readability Mode - Make articles on any site readable by hiding non-essential page elements like sidebars, footers and ads. 
★ Grayscale Mode - Turn on grayscale to reduce strain from websites

@privacy_policy

Privacy Policy:

Stylebot has never collected and will never collect any personal data, browsing history etc. The permission to access websites is to only let you customize the CSS for any webpage and automatically apply your CSS when you visit the webpage in the future.

In the future, Stylebot may collect browser version, platform name, user's settings (except website list or any other data which can help identify user). This information is needed for decision on implementing new features, removing unused features or suggesting default settings for new users. It will happen only with your permission.