@extension_description
Cambia la apariencia de una página web instantaneamente.

#==== CSS Properties ====

@font_family
Fuente

@font_size
Tamaño

@font_style
Estilo

@line_height
Altura de linea

@text_decoration
Decoración 

@text_transform
Transformar

@text_align
Alinear

@text_color
Color

@background_color
Color de Fondo

@visibility
Visibilidad

@hide
Ocultar

@margin
Margen

@border
Borde

@padding
Relleno

@width
Ancho

@height
Altura

@none
Sin estilo

@default
Valor por defecto

@thin
Fino

@light
Ligera

@regular
Regular

@medium
Medio

@bold
Negrita

@black
Negro

@thin_italic
Italica fina

@light_italic
Italica ligera

@italic
Italica

@medium_italic
Italica media

@bold_italic
Italica negrita

@black_italic
Italica negra

@border_style
Estilo

@border_color
Color

@border_none
Sin estilo

@border_solid
Sólido

@border_dotted
Punteado

@border_dashed
Discontinua

@border_double
Doble

@border_groove
Ranura

@border_ridge
Cresta

@border_inset
inserción

@border_outset
Inicio

#==== Editor ====
@text_properties
Propiedades de texto

@color_properties
Colores

@layout_properties
Diseño

@border_properties
Borde

@basic_mode
Básico

@basic_mode_description
Editor de CSS visual

@magic_mode
Mágico

@magic_mode_description
Opciones Experimentales 

@code_mode
Código

@code_mode_description
Código

@inspect_description 
Elige un elemento en la página para darle estilo

@enter_css_selector
Ingrese el Selector CSS...

@delete_style
Remover estilo...

@delete_style_for_url_title
Remover estilo de $url$

@delete_style_for_url_description
Esta opción removerá de manera permanente el estilo de $url$. Este cambio no podrá ser revertido. 

@delete
Remover

@cancel
Cancelar

@view_options
Opciones...

@view_keyboard_shortcuts
Ver atajos de teclado...

@resize
Cambiar de tamaño

@dock_to_right
Pasar a la derecha

@dock_to_left
Mover a la izquierda

@adjust_page_layout
Ajustar el diseño de la página

@close
Cerrar

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
Atajos de teclado

@customize
Personalizar

@editor
Editar

@global
Global

@toggle_editor
Alternar editor

@toggle_styling
Alternar estilo

@toggle_readability
Alternar legibilidad

@toggle_grayscale
Alternar escala de grises

@toggle_inspector
Alternar inspector de elementos

@move_editor
Mover editor

@set_basic_mode
Cambiar a editor básico

@set_magic_mode
Cambiar a editor mágico

@set_code_mode
Cambiar a editor de código

@show_help
Mostar ayuda

@hide_element
Aplicar CSS para mostrar/oculatar elementos seleccionados

@styling
Estilando

@magic_mode_description
Opciones experimentales. Quizá no funcionen correctamente. 

#==== Readability ====

@readability
Legibilidad

@enable_readability
Activar legibilidad

@readability_description
Hacer el artículo en este sitio legible ocultando barras laterales, notas de pie y publicidades.

@theme
Tema

@light_theme
Luminoso

@dark_theme
Oscuro

@sepia_theme
Sepia

@decrease_width
Disminuir ancho

@increase_width
Aumentar ancho 

#==== Grayscale ====

@grayscale
Escala de grises

@grayscale_description
Aplicar escala de grises a la pagina.

#==== Popup ====

@open_stylebot
Abrir Stylebot

@close_stylebot
Cerrar Stylebot

#==== Context Menu ====

@style_element
Elemento de estilo

#==== Options ====

@basics_options
Básico

@styles_options
Estilo

@sync_options
Copia de Seguridad

@help_options
Ayuda

@context_menu
Menú contextual

@enable_right_click_menu
Activar menú de click derecho

@donate
Donar

@add_new_style
Agregar un nuevo estilo...

@enable_all_styles
Activar todo. 

@disable_all_styles
Desactivar todo

@open_delete_all_styles_dialog
Remover todo...

@delete_all_warning
Esta opción removera permanentemente todos tus estilos. Este opción no podrá ser revertida. 

@delete_all_styles
Remover todos los estilos

@open_delete_style_dialog
Remover...

@delete_style_warning
Esta opción removera de manera permanente tus estilos. Este opción no podrá ser revertida. 

@open_edit_style_dialog
Editar...

@save
Guardar

#==== Sync ====

@sync_via_google_drive
Sincronización manual a través de Google Drive

@sync_description
Debe sincronizar manualmente para actualizar los estilos locales y / o remotos.

@view_synced_file
Ver

@download_synced_file
Descargar

@sync_now
Sincronizar ahora

@sync_in_progress
Sincronizando...

@synced_at_time
Sincronizado $time$

@disable_google_drive_sync
Desactivar Google Drive Sync

@enable_google_drive_sync
Habilitar Google Drive Sync

#==== Backup ====

@backup
Respaldo

@backup_description
Exportar e importar estilos como JSON

@export
Exportar

@import
Importar

@import_success
Estilos importados correctamente

@import_error
No se pudieron importar los estilos - $error$

#==== Store Listing ====

@store_listing

Elige un elemento de la página web y hazle cualquier cambio desde el editor. Puedes cambiar la fuente, el color, los margenes, la visibilidad y mucho mas. También puedes agregar CSS de manera manual.  

★ Fácil de usar: Pick and style elements using UI actions Elige y agrega estilos usando la la interfaz. 
★ Simple y rápido: Cambios son guardados instantaneamente. 
★ Editor de código - Escribe tu propio CSS.
★ Modo de legibilidad - Puedes hacer el artículo en este sitio legible Ocultando barras laterales, notas de pie y publicidades.
★ Modo de escala de grises -  Transforma el sitio web a escala de grises. 

@privacy_policy

Politicas de privacidad:

Stylebot no colecta ni nunca colectará datos personales, historial de navegación etc. Los permisos requeridos para acceder a las paginas web es lo minimo requerido para poder personalizar los estilos y aplicar automaticamente tu CSS cuando visitas la página en el futuro.  

En el futuro, Stylebot quizá colecte información sobre el navegador (la version), el nombre de la plataforma y algunas configuraciones del usuario (sin incluir la lista de sitios web o algun dato que ayude a identificar el usuario). Esta información is necessaria para implementar nuevas opciones, remover opciones q no se utilizan o sugerir  valores por defecto a nuevos usuarios. Todo esto sucedera solo con tu permiso. 
