@extension_description
Changer l'apparence du Web instantanément

#==== CSS Properties ====

@font_family
Police de caractère

@font_size
Taille

@font_style
Style

@line_height
Hauteur de la ligne

@text_decoration
Décoration

@text_transform
Transformer

@text_align
Alignement

@text_color
Texte

@background_color
Contexte

@visibility
Visibilité

@hide
Cacher

@margin
Marge

@border
Frontière

@padding
Rembourrage

@width
Largeur

@height
la taille

@none
Aucun

@default
Défaut

@thin
Mince

@light
Lumière

@regular
Régulier

@medium
Moyen

@bold
Audacieux

@black
Noir

@thin_italic
Italique mince

@light_italic
Italique clair

@italic
Italique

@medium_italic
Italique moyen

@bold_italic
Gras italique

@black_italic
Italique noir

@border_style
Style

@border_color
Couleur

@border_none
Aucun

@border_solid
Solide

@border_dotted
Pointé

@border_dashed
Pointillé

@border_double
Double

@border_groove
Rainure

@border_ridge
crête

@border_inset
Encart

@border_outset
Début

#==== Editor ====
@text_properties
Texte

@color_properties
Couleurs

@layout_properties
Disposition

@border_properties
Frontière

@basic_mode
De base

@basic_mode_description
Éditeur visuel CSS

@magic_mode
la magie

@magic_mode_description
Fonctionnalités expérimentales

@code_mode
Code

@code_mode_description
Code

@inspect_description 
Sélectionnez un élément de la page pour le styliser

@enter_css_selector
Entrez le sélecteur CSS ...

@delete_style
Supprimer le style ...

@delete_style_for_url_title
Supprimer le style pour $url$

@delete_style_for_url_description
Cela supprimera définitivement votre css pour $url$. Vous ne pouvez pas annuler cela.

@delete
Supprimer

@cancel
Annuler

@view_options
Options...

@view_keyboard_shortcuts
Afficher les raccourcis clavier ...

@move_left
Se déplacer à gauche

@move_right
Déplacer vers la droite

@close
Fermer

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
Raccourcis clavier

@customize
Personnaliser

@editor
Éditeur

@global
Global

@toggle_editor
Changer d'éditeur

@toggle_styling
Basculer le style

@toggle_readability
Basculer la lisibilité

@toggle_grayscale
Basculer en niveaux de gris

@toggle_inspector
Basculer l'inspecteur d'élément

@move_editor
Éditeur de déplacement

@set_basic_mode
Passer à l'éditeur de base

@set_magic_mode
Passer à l'éditeur magique

@set_code_mode
Passer à l'éditeur de code

@show_help
Afficher l'aide

@hide_element
Appliquer CSS pour afficher / masquer les éléments sélectionnés

@styling
Coiffant

@magic_mode_description
Fonctionnalités expérimentales. Peut ne pas fonctionner comme prévu sur toutes les pages.

#==== Readability ====

@readability
Lisibilité

@enable_readability
Activer la lisibilité

@readability_description
Rendez les articles de ce site lisibles en masquant les éléments de page non essentiels tels que les barres latérales, les pieds de page et les publicités.

@theme
Thème

@light_theme
Lumière

@dark_theme
Sombre

@sepia_theme
Sépia

@decrease_width
Diminuer la largeur

@increase_width
Augmenter la largeur

#==== Grayscale ====

@grayscale
Niveaux de gris

@grayscale_description
Appliquez des niveaux de gris à la page.

#==== Popup ====

@open_stylebot
Ouvrez Stylebot

@close_stylebot
Fermer Stylebot

#==== Context Menu ====

@style_element
Élément de style

#==== Options ====

@basics_options
Basiques

@styles_options
modes

@sync_options
Sauvegarde

@help_options
Aidez-moi

@donate
Faire un don

#==== Basics ====

@context_menu
Menu contextuel

@enable_right_click_menu
Activer le menu contextuel

#==== Styles ====

@add_new_style
Ajouter un nouveau style ...

@enable_all_styles
Tout activer

@disable_all_styles
Désactiver tous les

@open_delete_all_styles_dialog
Tout supprimer ...

@delete_all_warning
Cela supprimera définitivement tous vos styles. Vous ne pouvez pas annuler cela.

@delete_all_styles
Supprimer tous les styles

@open_delete_style_dialog
Supprimer...

@delete_style_warning
Cela supprimera définitivement votre style. Vous ne pouvez pas annuler cela.

@open_edit_style_dialog
Éditer...

@save
sauver

#==== Sync ====

@sync_via_google_drive
Synchronisation manuelle via Google Drive

@sync_description
Vous devez effectuer une synchronisation manuelle pour mettre à jour les styles distants et / ou locaux.

@view_synced_file
Voir

@download_synced_file
Télécharger

@sync_now
Synchroniser maintenant

@sync_in_progress
Synchronisation...

@synced_at_time
Synchronisé $time$

@disable_google_drive_sync
Désactiver Google Drive Sync

@enable_google_drive_sync
Activer Google Drive Sync

#==== Backup ====

@backup
Sauvegarde

@backup_description
Exporter et importer des styles au format JSON

@export
Exportation

@import
Importer

@import_success
Styles importés avec succès

@import_error
Impossible d'importer les styles - $error$

#==== Store Listing ====

@store_listing

Vous choisissez un élément et choisissez les modifications que vous souhaitez apporter à partir de l'éditeur. Vous pouvez modifier la police, la couleur, les marges, la visibilité et bien plus encore. Vous pouvez également coder le CSS manuellement.

★ Facile à utiliser: choisissez et stylisez des éléments à l'aide des actions de l'interface utilisateur
★ Simple et rapide: les modifications sont enregistrées instantanément
★ Éditeur de code - Écrivez votre propre CSS
★ Mode de lisibilité - Rendez les articles de n'importe quel site lisibles en masquant les éléments de page non essentiels tels que les barres latérales, les pieds de page et les publicités.
★ Mode Niveaux de gris - Activez les niveaux de gris pour réduire la tension des sites Web

@privacy_policy

Politique de confidentialité:

Stylebot n'a jamais collecté et ne collectera jamais de données personnelles, d'historique de navigation, etc. L'autorisation d'accéder aux sites Web est de vous permettre uniquement de personnaliser le CSS pour n'importe quelle page Web et d'appliquer automatiquement votre CSS lorsque vous visitez la page Web à l'avenir.

À l'avenir, Stylebot peut collecter la version du navigateur, le nom de la plate-forme, les paramètres de l'utilisateur (à l'exception de la liste des sites Web ou de toute autre donnée pouvant aider à identifier l'utilisateur). Ces informations sont nécessaires pour décider de la mise en œuvre de nouvelles fonctionnalités, de la suppression des fonctionnalités inutilisées ou de la suggestion de paramètres par défaut pour les nouveaux utilisateurs. Cela n'arrivera qu'avec votre permission.