@extension_description
Cambia l'aspetto del web all'istante

#==== CSS Properties ====

@font_family
Font

@font_size
Taglia

@font_style
Stile

@line_height
Altezza della linea

@text_decoration
Decorazione

@text_transform
Trasformare

@text_align
Allineamento

@text_color
Testo

@background_color
sfondo

@visibility
Visibilità

@hide
Nascondere

@margin
Margine

@border
Confine

@padding
Imbottitura

@width
Larghezza

@height
Altezza

@none
Nessuna

@default
Predefinito

@thin
Magro

@light
Luce

@regular
Regolare

@medium
Medio

@bold
Grassetto

@black
Nero

@thin_italic
Corsivo sottile

@light_italic
Corsivo chiaro

@italic
Corsivo

@medium_italic
Corsivo medio

@bold_italic
Italico grassetto

@black_italic
Corsivo nero

@border_style
Stile

@border_color
Colore

@border_none
Nessuna

@border_solid
Solido

@border_dotted
Punteggiato

@border_dashed
Tratteggiata

@border_double
Doppio

@border_groove
Scanalatura

@border_ridge
Cresta

@border_inset
Inset

@border_outset
Fin dall'inizio

#==== Editor ====
@text_properties
Testo

@color_properties
Colori

@layout_properties
disposizione

@border_properties
Confine

@basic_mode
Di base

@basic_mode_description
Editor visuale CSS

@magic_mode
Magia

@magic_mode_description
Funzionalità sperimentali

@code_mode
Codice

@code_mode_description
Codice

@inspect_description 
Seleziona un elemento nella pagina per modellarlo

@enter_css_selector
Accedi al selettore CSS ...

@delete_style
Elimina stile ...

@delete_style_for_url_title
Elimina lo stile per $url$

@delete_style_for_url_description
Questo eliminerà definitivamente il tuo css per $url$. Non puoi annullare questa operazione.

@delete
Elimina

@cancel
Annulla

@view_options
Opzioni...

@view_keyboard_shortcuts
Visualizza le scorciatoie da tastiera ...

@move_left
Muovere a sinistra

@move_right
Vai a destra

@close
Vicino

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
Tasti rapidi

@customize
personalizzare

@editor
Editor

@global
Globale

@toggle_editor
Attiva / disattiva editor

@toggle_styling
Cambia stile

@toggle_readability
Attiva / disattiva la leggibilità

@toggle_grayscale
Attiva / disattiva la scala di grigi

@toggle_inspector
Attiva / disattiva l'ispettore elemento

@move_editor
Sposta editor

@set_basic_mode
Passa all'editor di base

@set_magic_mode
Passa all'editor magico

@set_code_mode
Passa all'editor di codice

@show_help
Mostra aiuto

@hide_element
Applica CSS per mostrare / nascondere gli elementi selezionati

@styling
Messa in piega

@magic_mode_description
Funzionalità sperimentali. Potrebbe non funzionare come previsto su tutte le pagine.

#==== Readability ====

@readability
Leggibilità

@enable_readability
Abilita leggibilità

@readability_description
Rendi leggibili gli articoli su questo sito nascondendo elementi non essenziali della pagina come barre laterali, piè di pagina e annunci.

@theme
Tema

@light_theme
Luce

@dark_theme
Buio

@sepia_theme
Seppia

@decrease_width
Diminuisci larghezza

@increase_width
Aumenta larghezza

#==== Grayscale ====

@grayscale
Scala di grigi

@grayscale_description
Applica la scala di grigi alla pagina.

#==== Popup ====

@open_stylebot
Apri Stylebot

@close_stylebot
Chiudi Stylebot

#==== Context Menu ====

@style_element
Elemento di stile

#==== Options ====

@basics_options
Nozioni di base

@styles_options
Stili

@backup_options
Backup

@help_options
Aiuto

@context_menu
Menù contestuale

@enable_right_click_menu
Abilita menu clic destro

@donate
Donare

@backup_description
Fino a quando non supportiamo la sincronizzazione / backup automatizzata, esegui manualmente il backup del tuo css.

@open_export_dialog
Esportare...

@open_import_dialog
Importare...

@add_new_style
Aggiungi un nuovo stile ...

@enable_all_styles
Attiva tutto

@disable_all_styles
Disabilitare tutto

@open_delete_all_styles_dialog
Cancella tutto...

@delete_all_warning
Questo eliminerà definitivamente tutti i tuoi stili. Non puoi annullare questa operazione.

@delete_all_styles
Elimina tutti gli stili

@open_delete_style_dialog
Elimina...

@delete_style_warning
Questo eliminerà definitivamente il tuo stile. Non puoi annullare questa operazione.

@open_edit_style_dialog
Modificare...

@save
Salva

@export_dialog_title
Copia / incolla in un file JSON

@export_instructions
Conserva il JSON al sicuro per importarlo in seguito

@copy_to_clipboard
Copia negli appunti

@import_dialog_title
Incolla JSON esportato in precedenza

@import_instructions
Questo sovrascriverà i tuoi stili esistenti. Non puoi annullare questa operazione.

@import_error
Si è verificato un errore durante l'importazione di JSON. Assicurati che sia formattato correttamente e riprova.

@import 
Importare

#==== Store Listing ====

@store_listing

Cambia l'aspetto del web all'istante

Scegli un elemento e scegli le modifiche che desideri apportare dall'editor. Puoi cambiare il carattere, il colore, i margini, la visibilità e molto altro ancora. Puoi anche codificare CSS manualmente.

★ Facile da usare: scegli e applica uno stile agli elementi utilizzando le azioni dell'interfaccia utente
★ Semplice e veloce: le modifiche vengono salvate istantaneamente
★ Editor di codice: scrivi il tuo CSS
★ Modalità di leggibilità: rendi leggibili gli articoli su qualsiasi sito nascondendo elementi non essenziali della pagina come barre laterali, piè di pagina e annunci.
★ Modalità scala di grigi: attiva la scala di grigi per ridurre il carico dei siti web

@privacy_policy

Politica sulla riservatezza:

Stylebot non ha mai raccolto e non raccoglierà mai dati personali, cronologia di navigazione, ecc. L'autorizzazione per accedere ai siti Web è consentirti solo di personalizzare il CSS per qualsiasi pagina Web e applicare automaticamente il tuo CSS quando visiti la pagina Web in futuro.

In futuro, Stylebot potrebbe raccogliere la versione del browser, il nome della piattaforma, le impostazioni dell'utente (eccetto l'elenco dei siti Web o qualsiasi altro dato che possa aiutare a identificare l'utente). Queste informazioni sono necessarie per decidere sull'implementazione di nuove funzionalità, rimuovere le funzionalità inutilizzate o suggerire le impostazioni predefinite per i nuovi utenti. Accadrà solo con il tuo permesso.