@extension_description
ウェブの外観を瞬時に変更

#==== CSS Properties ====

@font_family
フォント

@font_size
サイズ

@font_style
スタイル

@line_height
行の高さ

@text_decoration
装飾

@text_transform
大文字小文字の変更

@text_align
整列

@text_color
文字色

@background_color
背景色

@visibility
可視

@hide
隠す

@margin
マージン

@border
境界

@padding
パディング

@width
幅

@height
高さ

@none
なし

@default
デフォルト

@thin
薄い

@light
光

@regular
定期的

@medium
中

@bold
大胆な

@black
ブラック

@thin_italic
薄いイタリック

@light_italic
光イタリック

@italic
イタリック

@medium_italic
中イタリック

@bold_italic
ボールドイタリック

@black_italic
黒のイタリック

@border_style
スタイル

@border_color
色

@border_none
なし

@border_solid
固体

@border_dotted
点在

@border_dashed
破線

@border_double
ダブル

@border_groove
溝

@border_ridge
海嶺

@border_inset
インセット

@border_outset
最初

#==== Editor ====
@text_properties
テキスト

@color_properties
色

@layout_properties
レイアウト

@border_properties
境界

@basic_mode
ベーシック

@basic_mode_description
ビジュアルCSSエディタ

@magic_mode
マジック

@magic_mode_description
実験的機能

@code_mode
コード

@code_mode_description
コード

@inspect_description 
ページ内の要素を選択してスタイルを設定します

@enter_css_selector
CSSセレクタを入力する...

@delete_style
スタイルを削除する...

@delete_style_for_url_title
$url$のスタイルを削除

@delete_style_for_url_description
これにより、$url$のCSSが完全に削除されます。 これを元に戻すことはできません。

@delete
削除する

@cancel
キャンセル

@view_options
オプション...

@view_keyboard_shortcuts
キーボードショートカットを表示...

@resize
サイズ変更

@dock_to_right
右に移動します

@dock_to_left
左に移動します

@squish_page
ページの幅を調整します

@move_right
右に移動

@close
閉じる

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
キーボードショートカット

@customize
カスタマイズ

@editor
エディタ

@global
グローバル

@toggle_editor
エディタを切り替える

@toggle_styling
スタイリングを切り替える

@toggle_readability
読みやすさ優先化を切り替える

@toggle_grayscale
グレースケールを切り替える

@toggle_inspector
要素インスペクターの切り替える

@move_editor
エディタへ移動する

@set_basic_mode
基本エディタに切り替える

@set_magic_mode
マジックのエディタに切り替える

@set_code_mode
コードエディタに切り替える

@show_help
ヘルプを表示する

@hide_element
CSSを適用して選択した要素を表示/非表示

@styling
スタイリング

@magic_mode_description
実験的機能。 すべてのページで期待どおりに動作しない場合があります。

#==== Readability ====

@readability
読みやすさ優先化

@enable_readability
読みやすさ優先化を有効にする

@readability_description
サイドバー、フッター、広告などの必須ではないページ要素を非表示にして、このサイトの記事を読みやすくします。

@theme
テーマ

@light_theme
光

@dark_theme
闇

@sepia_theme
セピア

@decrease_width
幅を狭める

@increase_width
幅を広げる

#==== Grayscale ====

@grayscale
グレースケールにする

@grayscale_description
ページにグレースケールを適用する

#==== Popup ====

@open_stylebot
Stylebotを開く

@close_stylebot
Stylebotを閉じる

#==== Context Menu ====

@style_element
スタイル

#==== Options ====

@basics_options
基本設定

@styles_options
スタイル

@sync_options
バックアップ

@help_options
ヘルプを表示する

@donate
Stylebot 開発者へ寄付する

#==== Basics ====

@context_menu
コンテキストメニュー

@enable_right_click_menu
右クリックメニューを有効にする

#==== Styles ====

@add_new_style
新しいスタイルを追加...

@enable_all_styles
すべて有効にする

@disable_all_styles
すべて無効にする

@open_delete_all_styles_dialog
すべて削除する...

@delete_all_warning
すべてのスタイルが削除されます。 これを元に戻すことはできません。削除しますか?

@delete_all_styles
すべてのスタイルを削除する

@open_delete_style_dialog
削除する...

@delete_style_warning
これにより、スタイルが完全に削除されます。 これを元に戻すことはできません。削除しますか?

@open_edit_style_dialog
編集する...

@save
保存する

#==== Sync ====

@sync_via_google_drive
Googleドライブを介した手動同期

@sync_description
リモートスタイルやローカルスタイルを更新するには、手動で同期する必要があります。

@view_synced_file
眺める

@download_synced_file
ダウンロード

@sync_now
今すぐ同期

@sync_in_progress
同期しています...

@synced_at_time
同期 $time$

@disable_google_drive_sync
Googleドライブ同期を無効にする

@enable_google_drive_sync
Googleドライブ同期を有効にする

#==== Backup ====

@backup
バックアップ

@backup_description
スタイルをJSONとしてエクスポートおよびインポートする

@export
書き出す

@import 
インポートする

@import_success
スタイルが正常にインポートされました

@import_error
インポートできませんでした - $error$

#==== Store Listing ====

@store_listing

要素を選択し、エディターから必要な変更を選択します。 フォント、色、マージン、表示設定などを変更できます。 CSSを手動でコーディングすることもできます。
 
★ 使いやすさ：UIアクションを使用した要素の選択とスタイル設定
★ シンプルで早い：変更は即座に保存します
★ コードエディタ-独自のCSSを作成できます
★ 読みやすさ優先モード-サイドバー、フッター、広告などの必須ではないページ要素を非表示にして、サイトの記事を読みやすくします。
★ グレースケールモード-ウェブサイトからの負担を軽減するためにグレースケールを有効にできます

@privacy_policy

個人情報保護方針：
 
Stylebotは個人情報や閲覧履歴などをこれまで収集したことはなく今後も収集しません。Webサイトにアクセスするための権限許可は、任意のWebページのCSSをカスタマイズし、そのWebページにアクセスしたときに自動的に適用するために利用します。
 
今後、Stylebotはブラウザのバージョン、プラットフォーム名、ユーザーの設定を収集する可能性があります（ウェブサイトのリストやユーザーの識別に役立つその他のデータを除く）。 この情報は、新機能の実装、未使用の機能の削除、または新しいユーザーへの初期設定の提案に必要です。 それはユーザーの許可がなければ起こりません。