@extension_description
웹 페이지의 모습을 원하는 대로 바꿉니다.

#==== CSS Properties ====

@font_family
글꼴

@font_size
글꼴 크기

@font_style
글꼴 스타일

@line_height
행 높이

@text_decoration
글자 꾸미기

@text_transform
텍스트 변형

@text_align
텍스트 정렬

@text_color
글자 색상

@background_color
배경 색상

@visibility
보이기

@hide
숨기기

@margin
바깥 여백

@border
테두리

@padding
안쪽 여백

@width
너비

@height
높이

@none
없음

@default
기본 글자체

@thin
가는 글자체

@light
옅은 글자체

@regular
보통 글자체

@medium
중간 글자체

@bold
굵은 글자체

@black
진한 글자체

@thin_italic
가는 이탤릭체

@light_italic
옅은 이탤릭체

@italic
이탤릭체

@medium_italic
중간 이탤릭체

@bold_italic
굵은 이탤릭체

@black_italic
진한 이탤릭체

@border_style
테두리 형태

@border_color
테두리 색상

@border_none
테두리 없음

@border_solid
실선

@border_dotted
점선

@border_dashed
긴 점선

@border_double
이중 실선

@border_groove
음각선

@border_ridge
양각선

@border_inset
음각면

@border_outset
양각면

#==== Editor ====
@text_properties
텍스트 설정

@color_properties
색상 설정

@layout_properties
레이아웃 설정

@border_properties
테두리 설정

@basic_mode
기본 설정

@basic_mode_description
비주얼 CSS 편집기를 엽니다.

@magic_mode
설정 마법사

@magic_mode_description
실험적인 기능입니다.

@code_mode
코드 편집

@code_mode_description
CSS 코드 편집기를 엽니다.

@inspect_description
페이지에서 스타일을 지정할 요소를 선택하십시오.

@enter_css_selector
CSS 선택자 입력...

@delete_style
스타일 삭제...

@delete_style_for_url_title
$url$의 스타일 삭제

@delete_style_for_url_description
$url$의 스타일이 완전히 삭제됩니다. 이 작업은 되돌릴 수 없으니 주의하십시오.

@delete
삭제

@cancel
취소

@view_options
옵션...

@view_keyboard_shortcuts
키보드 단축키 보기...

@resize
크기 조정

@dock_to_right
오른쪽에 고정

@dock_to_left
왼쪽에 고정

@adjust_page_layout
페이지 레이아웃 조정

@close
닫기

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
키보드 단축키

@customize
사용자 지정

@editor
편집기

@global
전역 설정

@toggle_editor
편집기 열기

@toggle_styling
스타일 적용

@toggle_readability
가독성 모드 켜기

@toggle_grayscale
회색조 모드 켜기

@toggle_inspector
요소 검사기 켜기

@move_editor
편집기 이동

@set_basic_mode
기본 편집 모드로 전환

@set_magic_mode
설정 마법사 모드로 전환

@set_code_mode
코드 편집 모드로 전환

@show_help
도움말 보기

@hide_element
CSS를 적용해 선택한 요소를 표시하거나 숨기기

@styling
스타일 설정

@magic_mode_description
실험적인 기능입니다. 간혹 예상대로 작동하지 않을 수도 있습니다.

#==== Readability ====

@readability
가독성 모드

@enable_readability
가독성 모드 켜기

@readability_description
사이드 바, 바닥글, 광고와 같이 중요하지 않은 페이지 요소를 숨겨 페이지의 본문에 집중할 수 있습니다.

@theme
테마

@light_theme
밝은 테마

@dark_theme
어두운 테마

@sepia_theme
세피아 테마

@decrease_width
너비 줄이기

@increase_width
너비 늘리기

#==== Grayscale ====

@grayscale
회색조 모드

@grayscale_description
페이지에 회색조 스타일을 적용합니다.

#==== Popup ====

@open_stylebot
Stylebot 열기

@close_stylebot
Stylebot 닫기

@see_whats_new_3_1
3.1의 새로운 기능 보기...

#==== Context Menu ====

@style_element
이 요소의 스타일 설정

#==== Options ====

@basics_options
기본 설정

@styles_options
스타일 설정

@sync_options
동기화 설정

@help_options
도움말

@donate
기부

#==== Basics ====

@context_menu
콘텍스트 메뉴

@enable_right_click_menu
브라우저 콘텍스트 메뉴에 Stylebot 메뉴 추가

@fonts
글꼴

@fonts_description
스타일 설정에서 사용할 글꼴들을 쉼표로 구분해서 입력하십시오. 사용자 컴퓨터에 설치된 글꼴이나 Google Fonts을 사용할 수 있습니다.

@fonts_edit_list
글꼴 목록 편집...

#==== Styles ====

@add_new_style
새 스타일 추가...

@enable_all_styles
모두 활성화

@disable_all_styles
모두 비활성화

@open_delete_all_styles_dialog
모두 삭제...

@delete_all_warning
모든 스타일이 완전히 삭제됩니다. 이 작업은 되돌릴 수 없으니 주의하십시오.

@delete_all_styles
모든 스타일 삭제

@open_delete_style_dialog
스타일 삭제...

@delete_style_warning
스타일이 완전히 삭제됩니다. 이 작업은 되돌릴 수 없으니 주의하십시오.

@open_edit_style_dialog
스타일 편집...

@save
저장

#==== Sync ====

@sync_via_google_drive
Google 드라이브로 수동 동기화

@sync_description
Google 드라이브에 저장된 스타일과 사용자 컴퓨터에 저장된 스타일을 수동으로 동기화합니다.

@view_synced_file
보기

@download_synced_file
다운로드

@sync_now
지금 동기화

@sync_in_progress
동기화 중...

@synced_at_time
동기화 됨 $time$

@disable_google_drive_sync
Google 드라이브 동기화 비활성화

@enable_google_drive_sync
Google 드라이브 동기화 사용

#==== Backup ====

@backup
백업

@backup_description
스타일을 JSON으로 내보내거나 가져오기

@export
내보내기

@import
가져오기

@import_success
스타일을 성공적으로 가져왔습니다

@import_error
스타일을 가져올 수 없습니다 - $error$

#==== Store Listing ====

@store_listing

요소를 선택하고 편집기에서 원하는 스타일을 변경합니다. 글꼴, 색상, 여백, 표시 여부 등 여러 스타일을 변경할 수 있습니다. 또한 CSS를 직접 편집할 수도 있습니다.

★ 사용하기 쉽습니다. 간단한 UI를 이용해 요소를 선택해서 스타일을 설정할 수 있습니다.
★ 간결하고 빠릅니다. 설정한 스타일은 곧바로 저장되고 적용됩니다.
★ 코드 편집기를 이용해 자신만의 CSS를 작성할 수 있습니다.
★ 가독성 모드를 사용하면, 사이드 바, 바닥글, 광고와 같이 중요하지 않은 페이지 요소를 숨겨 페이지의 본문에 집중할 수 있습니다.
★ 회색조 모드를 사용하면 눈의 피로를 줄일 수 있습니다.

@privacy_policy

개인 정보 정책:

Stylebot은 개인 정보, 검색 기록 등을 수집한 적이 없으며 앞으로도 수집하지 않을 것입니다. 웹 페이지에 접근할 수 있는 권한은, 사용자가 웹 페이지에 적용할 CSS를 정의할 때에만, 그리고 사용자가 그 페이지를 방문하면 자동으로 CSS를 적용하기 위해서만 필요합니다.

앞으로 Stylebot은 브라우저 버전, 플랫폼 이름, 사용자 설정(웹 사이트 목록이나 사용자를 식별할 수 있는 정보는 제외)을 수집할 수도 있습니다. 이 정보는 새로운 기능을 구현하거나, 사용하지 않는 기능을 제거하거나, 새로운 사용자를 위한 기본 설정을 결정하는 데 필요합니다. 이는 사용자가 허락하는 경우에만 수집할 것입니다.
