@extension_description
웹의 모양을 즉시 변경

#==== CSS Properties ====

@font_family
폰트

@font_size
크기

@font_style
스타일

@line_height
라인 높이

@text_decoration
장식

@text_transform
변환

@text_align
조정

@text_color
본문

@background_color
배경

@visibility
시계

@hide
숨는 장소

@margin
여유

@border
경계

@padding
심

@width
폭

@height
신장

@none
없음

@default
기본

@thin
얇은

@light
빛

@regular
정규병

@medium
매질

@bold
굵게

@black
검정

@thin_italic
얇은 기울임 꼴

@light_italic
연한 기울임 꼴

@italic
이탤릭체

@medium_italic
중간 기울임 꼴

@bold_italic
굵은 기울임 꼴

@black_italic
검정 기울임 꼴

@border_style
스타일

@border_color
색깔

@border_none
없음

@border_solid
고체

@border_dotted
점이 찍힌

@border_dashed
파선

@border_double
더블

@border_groove
홈

@border_ridge
산등성이

@border_inset
삽입

@border_outset
시초

#==== Editor ====
@text_properties
본문

@color_properties
그림 물감

@layout_properties
나열한 것

@border_properties
경계

@basic_mode
기본

@basic_mode_description
비주얼 CSS 편집기

@magic_mode
마법

@magic_mode_description
실험적 기능

@code_mode
암호

@code_mode_description
암호

@inspect_description 
페이지에서 스타일을 지정할 요소를 선택하십시오.

@enter_css_selector
CSS 선택기 입력 ...

@delete_style
스타일 삭제 ...

@delete_style_for_url_title
$url$의 스타일 삭제

@delete_style_for_url_description
$url$에 대한 CSS가 영구적으로 삭제됩니다. 이 작업은 취소 할 수 없습니다.

@delete
지우다

@cancel
취소

@view_options
옵션 ...

@view_keyboard_shortcuts
단축키보기 ...

@drag_and_resize
드래그 및 크기 조정

@dock_to_right
오른쪽에 고정

@close
닫기

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
키보드 단축키

@customize
커스터마이즈

@editor
편집자

@global
글로벌

@toggle_editor
편집기 전환

@toggle_styling
스타일 전환

@toggle_readability
가독성 전환

@toggle_grayscale
그레이 스케일 전환

@toggle_inspector
요소 검사기 전환

@move_editor
편집기 이동

@set_basic_mode
기본 편집기로 전환

@set_magic_mode
매직 편집기로 전환

@set_code_mode
코드 편집기로 전환

@show_help
도움말보기

@hide_element
CSS를 적용하여 선택한 요소 표시 / 숨기기

@styling
스타일링

@magic_mode_description
실험적 기능. 모든 페이지에서 예상대로 작동하지 않을 수 있습니다.

#==== Readability ====

@readability
가독성

@enable_readability
가독성 활성화

@readability_description
사이드 바, 바닥 글 및 광고와 같이 중요하지 않은 페이지 요소를 숨겨이 사이트의 기사를 읽을 수 있도록 만드세요.

@theme
테마

@light_theme
빛

@dark_theme
어두운

@sepia_theme
세피아

@decrease_width
너비 줄이기

@increase_width
너비 늘리기

#==== Grayscale ====

@grayscale
그레이 스케일

@grayscale_description
페이지에 그레이 스케일을 적용합니다.

#==== Popup ====

@open_stylebot
Stylebot 열기

@close_stylebot
Stylebot 닫기

#==== Context Menu ====

@style_element
스타일 요소

#==== Options ====

@basics_options
기초

@styles_options
스타일

@sync_options
지원

@help_options
도움

@donate
기부

#==== Basics ====

@context_menu
상황에 맞는 메뉴

@enable_right_click_menu
오른쪽 클릭 메뉴 활성화

#==== Styles ====

@add_new_style
새 스타일 추가 ...

@enable_all_styles
모두 활성화

@disable_all_styles
모두 비활성화

@open_delete_all_styles_dialog
모두 삭제...

@delete_all_warning
모든 스타일이 영구적으로 삭제됩니다. 이 작업은 취소 할 수 없습니다.

@delete_all_styles
모든 스타일 삭제

@open_delete_style_dialog
지우다...

@delete_style_warning
스타일이 영구적으로 삭제됩니다. 이 작업은 취소 할 수 없습니다.

@open_edit_style_dialog
편집하다...

@save
저장

#==== Sync ====

@sync_via_google_drive
Google 드라이브를 통한 수동 동기화

@sync_description
원격 및 / 또는 로컬 스타일을 업데이트하려면 수동으로 동기화해야합니다.

@view_synced_file
보다

@download_synced_file
다운로드

@sync_now
지금 동기화

@sync_in_progress
동기화 중 ...

@synced_at_time
동기화 됨 $time$

@disable_google_drive_sync
Google 드라이브 동기화 비활성화

@enable_google_drive_sync
Google 드라이브 동기화 사용

#==== Backup ====

@backup
지원

@backup_description
스타일을 JSON으로 내보내기 및 가져 오기

@export
수출

@import
수입

@import_success
스타일을 성공적으로 가져 왔습니다

@import_error
스타일을 가져올 수 없습니다 - $error$

#==== Store Listing ====

@store_listing

요소를 선택하고 편집기에서 변경하려는 내용을 선택합니다. 글꼴, 색상, 여백, 가시성 등을 변경할 수 있습니다. CSS를 수동으로 코딩 할 수도 있습니다.

★ 사용하기 쉬움 : UI 작업을 사용하여 요소 선택 및 스타일 지정
★ 간단하고 빠른 : 변경 사항이 즉시 저장됩니다.
★ 코드 편집기-자신 만의 CSS 작성
★ 가독성 모드-사이드 바, 바닥 글 및 광고와 같은 중요하지 않은 페이지 요소를 숨겨서 모든 사이트의 기사를 읽을 수 있도록합니다.
★ 그레이 스케일 모드-웹 사이트의 부담을 줄이기 위해 그레이 스케일을 켜십시오.

@privacy_policy

개인 정보 정책:

Stylebot은 개인 데이터, 검색 기록 등을 수집 한 적이 없으며 절대 수집하지 않습니다. 웹 사이트에 액세스 할 수있는 권한은 웹 페이지에 대한 CSS를 사용자 정의하고 향후 웹 페이지를 방문 할 때 CSS를 자동으로 적용하는 것입니다.

향후 Stylebot은 브라우저 버전, 플랫폼 이름, 사용자 설정 (웹 사이트 목록 또는 사용자 식별에 도움이 될 수있는 기타 데이터 제외)을 수집 할 수 있습니다. 이 정보는 새 기능 구현, 사용하지 않는 기능 제거 또는 새 사용자를위한 기본 설정 제안에 대한 결정에 필요합니다. 그것은 당신의 허락 하에서 만 일어날 것입니다.