@extension_description
Mude a aparência da web instantaneamente

#==== CSS Properties ====

@font_family
Familia da fonte

@font_size
Tamanho da fonte

@font_style
Estilo da fonte

@line_height
Altura da linha

@text_decoration
Decoração do texto

@text_transform
Capitalização

@text_align
Alinhamento

@text_color
Cor do texto

@background_color
Fundo da tela

@visibility
Visibilidade

@hide
Esconder

@margin
Margem

@border
Borda

@padding
Preenchimento

@width
Comprimento

@height
Altura

@none
Nenhum

@default
Padrão

@thin
Muito Fino

@light
Fino

@regular
Regular

@medium
Médio

@bold
Negrito

@black
Preto

@thin_italic
Itálico muito fino

@light_italic
Itálico fino

@italic
Itálico

@medium_italic
Itálico médio

@bold_italic
Itálico Negrito

@black_italic
Itálico Preto

@border_style
Estilo da borda

@border_color
Cor da borda

@border_none
Sem borda

@border_solid
Sólido

@border_dotted
Pontilhado

@border_dashed
Tracejado

@border_double
Dobrado

@border_groove
Sulco

@border_ridge
Ridge

@border_inset
Pra dentro

@border_outset
Pra fora

#==== Editor ====
@text_properties
Propriedades de texto

@color_properties
Propriedades das cores

@layout_properties
Propriedades do layout

@border_properties
Propriedades das bordas

@basic_mode
Modo Básico

@basic_mode_description
Editor visual de CSS

@magic_mode
Modo mágico

@magic_mode_description
Recursos experimentais

@code_mode
Modo de código

@code_mode_description
Código

@inspect_description
Escolha um elemento na página para estiliza-lo

@enter_css_selector
Escreva o seletor CSS...

@delete_style
Deletar estilo...

@delete_style_for_url_title
Deletar estilos no $url$

@delete_style_for_url_description
Isso vai deletar seu css permanentemente para $url$. Você não pode desfazer essa ação.

@delete
Deletar

@cancel
Cancelar

@view_options
Opções...

@view_keyboard_shortcuts
Mostrar atalhos para o teclado...

@resize
Redimensionar

@dock_to_right
Fixar na direita

@dock_to_left
Fixar na esquerda

@adjust_page_layout
Ajustar o layout da Página

@close
Fechar

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
Atalhos do teclado

@customize
Customizar

@editor
Editor

@global
Global

@toggle_editor
Habilitar/Desabilitar editor

@toggle_styling
Habilitar/Desabilitar Estilização

@toggle_readability
Habilitar/Desabilitar modo legível

@toggle_grayscale
Habilitar/Desabilitar Preto e Branco

@toggle_inspector
Habilitar/Desabilitar inspetor de elemento

@move_editor
Mover editor

@set_basic_mode
Mudar para o modo básico

@set_magic_mode
Mudar para o modo mágico

@set_code_mode
Mudar para o modo de código

@show_help
Mostrar ajuda

@hide_element
Aplicar CSS para mostrar/esconder elementos selecionados

@styling
Estilização

@magic_mode_description
Experimental features. May not work as expected on all pages.
Recursos experimentais. Pode não funcionar como esperado em todas as páginas.

#==== Readability ====

@readability
Modo legível

@enable_readability
Ativar modo legivel

@readability_description
Crie artigos nesse site legiveis ao esconder elementos não essenciais como pés, anúncios e barras laterais

@theme
Tema

@light_theme
Claro

@dark_theme
Escuro

@sepia_theme
Sepia

@decrease_width
Diminuir comprimento

@increase_width
Aumentar comprimento

#==== Grayscale ====

@grayscale
Preto e Branco

@grayscale_description
Aplicar Preto e Branco na página.

#==== Popup ====

@open_stylebot
Abrir Stylebot

@close_stylebot
Fechar Stylebot

@see_whats_new_3_1
Olhe o que tem de novo na 3.1...

#==== Context Menu ====

@style_element
Estilizar elemento

#==== Options ====

@basics_options
Opções básicas

@styles_options
Opções de estilização

@sync_options
Opções de sincronização

@help_options
Ajuda

@donate
Doar

#==== Basics ====

@context_menu
Menu de contexto

@enable_right_click_menu
Habilitar menu com click com o botão direito

#==== Styles ====

@add_new_style
Adicionar um novo estilo...

@enable_all_styles
Habilitar todos

@disable_all_styles
Desabilitar todos

@open_delete_all_styles_dialog
Deletar tudo...

@delete_all_warning
Isso vai deletar permanentemente todas as suas estilizações. Você não pode desfazer isso.

@delete_all_styles
Deletar todas as suas estilizações

@open_delete_style_dialog
Deletar...

@delete_style_warning
Isso vai deletar permanentemente todas as suas estilizações. Você não pode desfazer isso.

@open_edit_style_dialog
Editar...

@save
Salvar

#==== Sync ====

@sync_via_google_drive
Sincronização manual via Google Drive

@sync_description
Você precisa sincronizar manualmente para atualizar os estilos remotos e locais.

@view_synced_file
Olhar

@download_synced_file
Baixar 

@sync_now
Sincronizar agora

@sync_in_progress
Sincronizando...

@synced_at_time
Sincronizado $time$

@disable_google_drive_sync
Desabilitar sincronização via Google Drive

@enable_google_drive_sync
Habilitar sincronização via Google Drive

#==== Backup ====

@backup
Backup

@backup_description
Exporte e Importe estilizações via JSON

@export
Exportar

@import 
Importar

@import_success
Estilos importados com sucesso

@import_error
Não foi possível importar estilizações - $error$

#==== Store Listing ====

@store_listing

Você escolhe um elemento e as mudanças que você quer fazer nele no editor. Você pode escolher a fonte, cor, margens, visibilidade e muito mais. Você pode estilizar o CSS manualmente através de código.

★ Fácil de usar: Escolha e estilize elementos sem precisar de código
★ Simples e Rápido: Mudanças são salvas instantaneamente
★ Editor de código - Escreva seu próprio CSS se quiser
★ Modo legível - Crie artigos nesse site legiveis ao esconder elementos não essenciais como pés, anúncios e barras laterais
★ Modo Preto e Branco- Ative o modo preto e branco e evite cansaço ao utilizar sites

@privacy_policy

Politica de privacidade

Stylebot nunca coletou e nunca irá coletar dados pessoais do usuário, histórico de pesquisa, etc. A permissão para acessar websites é para somente deixar você customizar o css para qualquer pagina e automaticamente aplicar seu CSS quando você visita a mesma página no futuro


No futuro, Stylebot poderá coletar versão do browser, nome da plataforma, configurações dos usuários (Exceto listas de websites visitados, ou outros dados que possam identificar o usuário). Essa informação é necessária para tomar decisões na implementação de novos recursos, remoção de recursos não utilizados ou na recomendação de opções para novos usuários. Isso só vai acontecer com sua permissão.
