@extension_description
Modifică aspectul paginilor web în mod instantaneu.

#==== CSS Properties ====

@font_family
Font

@font_size
Mărime

@font_style
Stil

@line_height
Înălțimea liniei

@text_decoration
Decorare

@text_transform
Transformare

@text_align
Aliniere

@text_color
Text

@background_color
Fundal

@visibility
Vizibilitate

@hide
Ascunde

@margin
Margine

@border
Bordură

@padding
Spațiere

@width
Lungime

@height
Înălțime

@none
Nimic

@default
Prestabilit

@thin
Subțire

@light
Light

@regular
Regulat

@medium
Mediu

@bold
Bold

@black
Black

@thin_italic
Subțire Italic

@light_italic
Light Italic

@italic
Italic

@medium_italic
Mediu Italic

@bold_italic
Bold Italic

@black_italic
Black Italic

@border_style
Stil

@border_color
Culoare

@border_none
Nimic

@border_solid
Solid

@border_dotted
Punctat

@border_dashed
Dashed

@border_double
Dublu

@border_groove
Groove

@border_ridge
Creastă

@border_inset
Inset

@border_outset
Outset

#==== Editor ====
@text_properties
Text

@color_properties
Culori

@layout_properties
Layout

@border_properties
Bordură

@basic_mode
Simplu

@basic_mode_description
Editor CSS vizual

@magic_mode
Magie

@magic_mode_description
Funcții experimentale

@code_mode
Cod

@code_mode_description
Cod

@inspect_description 
Selectează un element în pagină pentru a-l stiliza

@enter_css_selector
Introdu selector CSS..

@delete_style
Șterge stil...

@delete_style_for_url_title
Șterge stilul pentru $url$

@delete_style_for_url_description
Acest lucru va șterge permanent css-ul tău pentru $url$. Nu poți anula asta.

@delete
Șterge

@cancel
Anulare

@view_options
Opțiuni...

@view_keyboard_shortcuts
Vezi scurtăturile pentru tastatură...

@resize
Redimensionează

@dock_to_right
Andochează la dreapta

@dock_to_left
Andochează la stânga

@adjust_page_layout
Ajustează layout-ul paginii

@close
Închide

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
Scurtături pentru tastatură

@customize
Personalizare

@editor
Editor

@global
Global

@toggle_editor
Comutare editor

@toggle_styling
Activare/dezactivare stil

@toggle_readability
Comutare mod de lizibilitate

@toggle_grayscale
Comutare mod alb-negru

@toggle_inspector
Comutare inspector de elemente

@move_editor
Mută editorul

@set_basic_mode
Treci la editorul simplu

@set_magic_mode
Treci la editorul magic

@set_code_mode
Treci la editorul de cod

@show_help
Arată secțiunea de ajutor

@hide_element
Aplică CSS pentru a afișa/ascunde elementele selectate

@styling
Stilizare

@magic_mode_description
Funcții experimentale. Este posibil să nu funcționeze conform așteptărilor pe toate paginile.

#==== Readability ====

@readability
Lizibilitate

@enable_readability
Activează modul de lizibilitate

@readability_description
Face articolele de pe acest site mai ușor de citit ascunzând elemente neesențiale din pagină, cum ar fi barele laterale, subsolul paginii și reclamele.

@theme
Temă

@light_theme
Luminoasă

@dark_theme
Întunecată

@sepia_theme
Sepia

@decrease_width
Micșorează lungimea

@increase_width
Mărește lungimea

#==== Grayscale ====

@grayscale
Alb-negru

@grayscale_description
Aplică modul alb-negru pe pagină.

#==== Popup ====

@open_stylebot
Deschide Stylebot

@close_stylebot
Închide Stylebot

@see_whats_new_3_1
Vezi ce este nou în versiunea 3.1...

#==== Context Menu ====

@style_element
Stilizează elementul

#==== Options ====

@basics_options
De bază

@styles_options
Stiluri

@sync_options
Sincronizare

@help_options
Ajutor

@donate
Donează

#==== Basics ====

@context_menu
Meniu contextual

@enable_right_click_menu
Activează meniul contextual

@fonts
Fonturi

@fonts_description
Introdu o listă cu fonturi separată prin virgulă. Orice font local sau font de pe Google Fonts este suportat

@fonts_edit_list
Editează lista de fonturi...

#==== Styles ====

@add_new_style
Adaugă un stil nou...

@enable_all_styles
Activează-le pe toate

@disable_all_styles
Dezactivează-le pe toate

@open_delete_all_styles_dialog
Șterge-le pe toate

@delete_all_warning
Acest lucru va șterge toate stilurile tale. Nu poți anula asta.

@delete_all_styles
Șterge toate stilurile

@open_delete_style_dialog
Șterge...

@delete_style_warning
Acest lucru va șterge stilul tău. Nu poți anula asta.

@open_edit_style_dialog
Editează...

@save
Salvează

#==== Sync ====

@sync_via_google_drive
Sincronizare manuală prin Google Drive

@sync_description
Trebuie să activezi sincronizarea manual pentru a putea actualiza stilurile de la distanță și/sau local.

@view_synced_file
Vizualizează

@download_synced_file
Descarcă

@sync_now
Sincronizează acum

@sync_in_progress
Se sincronizează

@synced_at_time
S-a sincronizat $time$

@disable_google_drive_sync
Dezactivează sincronizarea prin Google Drive

@enable_google_drive_sync
Activează sincronizarea prin Google Drive

#==== Backup ====

@backup
Copie de rezervă

@backup_description
Exportă și importă stiluri ca JSON

@export
Exportă

@import
Importă

@import_success
Stilurile s-au importat cu succes.

@import_error
Nu s-au putut importa stilurile - $error$

#==== Store Listing ====

@store_listing

Alege un element și apoi alege ce modificări dorești să-i faci în editor. Poți să-i schimbi fontul, culoarea, marginile, vizibilitatea și multe altele. Poți de asemenea să programezi în CSS.

★ Ușor de folosit: Alegi și stilizezi elementele folosind acțiunile din IU
★ Simplu și rapid: Modificările sunt salvate instant
★ Editor de cod - Scrie propriul tău cod CSS
★ Mod de lizibilitate - Face articolele de pe orice site mai ușor de citit ascunzând elemente neesențiale din pagină, cum ar fi barele laterale, subsolul paginii și reclamele.
★ Mod alb-negru - Activează modul alb-negru pentru a reduce oboseala ochilor pe website-uri

@privacy_policy

Politică de confidențialitate:

Stylebot n-a colectat și nu va colecta niciodată date personale, istoricul de navigare etc. Permisiunea pentru a accesa website-uri este cerută doar pentru a face posibilă modificarea CSS-ului pentru orice pagină web și aplicarea automată a CSS-ului tău când vei vizita pagina în viitor.

În viitor, este posibil ca Stylebot să colecteze versiunea browser-ului, numele sistemului de operare, setările utilizatorului (excepție lista de website-uri sau orice alte informații care pot identifica utilizatorii). Aceste informații sunt necesare pentru a lua decizii în implementarea a noi funcții, eliminarea funcțiilor nefolosite sau sugerarea setărilor implicite pentru utilizatorilor noi. Acest lucru se va întâmpla doar cu permisiunea ta.
