@extension_description
Мгновенно меняйте внешний вид сети

#==== CSS Properties ====

@font_family
Шрифт

@font_size
Размер

@font_style
Стиль

@line_height
Высота линии

@text_decoration
Украшение

@text_transform
Преобразовать

@text_align
Выравнивание

@text_color
Текст

@background_color
Задний план

@visibility
Видимость

@hide
Спрятать

@margin
Прибыль

@border
Граница

@padding
Прокладка

@width
Ширина

@height
Высота

@none
Никто

@default
По умолчанию

@thin
Тонкий

@light
Легкий

@regular
Обычный

@medium
Средняя

@bold
Жирный

@black
Черный

@thin_italic
Тонкий курсив

@light_italic
Светлый курсив

@italic
Курсив

@medium_italic
Средний курсив

@bold_italic
Жирный курсив

@black_italic
Черный курсив

@border_style
Стиль

@border_color
цвет

@border_none
Никто

@border_solid
Твердый

@border_dotted
Пунктирный

@border_dashed
Пунктирная

@border_double
Двойной

@border_groove
Паз

@border_ridge
Ридж

@border_inset
Вставка

@border_outset
Начало

#==== Editor ====
@text_properties
Текст

@color_properties
Цвета

@layout_properties
Макет

@border_properties
Граница

@basic_mode
Базовый

@basic_mode_description
Визуальный редактор CSS

@magic_mode
Магия

@magic_mode_description
Экспериментальные особенности

@code_mode
Код

@code_mode_description
Код

@inspect_description
Выберите элемент на странице для его стиля

@enter_css_selector
Войдите в селектор CSS ...

@delete_style
Удалить стиль ...

@delete_style_for_url_title
Удалить стиль для $url$

@delete_style_for_url_description
Это приведет к безвозвратному удалению вашего css для $url$. Вы не можете отменить это.

@delete
удалять

@cancel
Отмена

@view_options
Параметры...

@view_keyboard_shortcuts
Просмотреть сочетания клавиш ...

@move_left
Движение влево

@move_right
Переместить вправо

@close
близко

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
Горячие клавиши

@customize
Настроить

@editor
редактор

@global
Глобальный

@toggle_editor
Переключить редактор

@toggle_styling
Переключить стиль

@toggle_readability
Переключить читабельность

@toggle_grayscale
Переключить оттенки серого

@toggle_inspector
Переключить инспектор элементов

@move_editor
Редактор перемещения

@set_basic_mode
Перейти в основной редактор

@set_magic_mode
Перейти в волшебный редактор

@set_code_mode
Перейти в редактор кода

@show_help
Показать помощь

@hide_element
Применить CSS для отображения / скрытия выбранных элементов

@styling
Укладка

@magic_mode_description
Экспериментальные возможности. Может работать не на всех страницах должным образом.

#==== Readability ====

@readability
Читаемость

@enable_readability
Включить удобочитаемость

@readability_description
Сделайте статьи на этом сайте удобочитаемыми, скрыв несущественные элементы страницы, такие как боковые панели, нижние колонтитулы и рекламу.

@theme
Тема

@light_theme
Легкий

@dark_theme
Темно

@sepia_theme
Сепия

@decrease_width
Уменьшить ширину

@increase_width
Увеличить ширину

#==== Grayscale ====

@grayscale
Оттенки серого

@grayscale_description
Примените к странице оттенки серого.

#==== Popup ====

@open_stylebot
Открыть Stylebot

@close_stylebot
Закрыть Stylebot

#==== Context Menu ====

@style_element
Элемент стиля

#==== Options ====

@basics_options
Основы

@styles_options
Стили

@backup_options
Резервное копирование

@help_options
Помогите

@context_menu
Контекстное меню

@enable_right_click_menu
Включить меню правого клика

@donate
Пожертвовать

@backup_description
Пока мы не поддержим автоматическую синхронизацию / резервное копирование, сделайте резервную копию CSS вручную.

@open_export_dialog
Экспорт ...

@open_import_dialog
Импортировать...

@add_new_style
Добавить новый стиль ...

@enable_all_styles
Включить все

@disable_all_styles
Отключить все

@open_delete_all_styles_dialog
Удалить все...

@delete_all_warning
Это навсегда удалит все ваши стили. Вы не можете отменить это.

@delete_all_styles
Удалить все стили

@open_delete_style_dialog
Удалять...

@delete_style_warning
Это навсегда удалит ваш стиль. Вы не можете отменить это.

@open_edit_style_dialog
Редактировать...

@save
Сохранить

@export_dialog_title
Скопируйте / вставьте в файл JSON

@export_instructions
Сохраните JSON в безопасности, чтобы импортировать его позже

@copy_to_clipboard
Скопировать в буфер обмена

@import_dialog_title
Вставить ранее экспортированный JSON

@import_instructions
Это перезапишет ваши существующие стили. Вы не можете отменить это.

@import_error
Мы столкнулись с ошибкой при импорте JSON. Убедитесь, что он правильно отформатирован, и повторите попытку.

@import
Импортировать

#==== Store Listing ====

@store_listing

Вы выбираете элемент и выбираете любые изменения, которые хотите внести в редакторе. Вы можете изменить шрифт, цвет, поля, видимость и многое другое. Вы также можете кодировать CSS вручную.

★ Простота использования: выбирайте и стилизуйте элементы с помощью действий пользовательского интерфейса.
★ Просто и быстро: изменения сохраняются мгновенно
★ Редактор кода - напишите свой собственный CSS
★ Режим удобочитаемости - сделайте статьи на любом сайте удобочитаемыми, скрывая несущественные элементы страницы, такие как боковые панели, нижние колонтитулы и рекламу.
★ Режим оттенков серого: включите оттенки серого, чтобы снизить нагрузку на веб-сайты.

@privacy_policy

Политика конфиденциальности:

Stylebot никогда не собирал и никогда не будет собирать какие-либо личные данные, историю просмотров и т. Д. Разрешение на доступ к веб-сайтам позволяет вам настраивать CSS только для любой веб-страницы и автоматически применять ваш CSS при посещении веб-страницы в будущем.

В будущем Stylebot может собирать версию браузера, название платформы, настройки пользователя (за исключением списка веб-сайтов или любых других данных, которые могут помочь идентифицировать пользователя). Эта информация необходима для принятия решения о внедрении новых функций, удалении неиспользуемых функций или предложении настроек по умолчанию для новых пользователей. Это произойдет только с вашего разрешения.