@extension_description
一个方便改变网页外观的扩展

#==== CSS Properties ====

@font_family
字体

@font_size
字号

@font_style
字型

@line_height
行高

@text_decoration
文本修饰

@text_transform
大小写转换

@text_align
对齐方式

@text_color
字色

@background_color
背景色

@visibility
可见性

@hide
隐藏

@margin
外边距

@border
边框

@padding
内边距

@width
宽度

@height
高度

@none
无

@default
默认

@thin
淡体

@light
细体

@regular
标准

@medium
适中

@bold
粗体

@black
浓体

@thin_italic
淡斜体

@light_italic
细斜体

@italic
标准斜体

@medium_italic
适中斜体

@bold_italic
粗斜体

@black_italic
浓斜体

@border_style
样式

@border_color
颜色

@border_none
无

@border_solid
实线

@border_dotted
点虚线

@border_dashed
方形虚线

@border_double
双实线

@border_groove
雕刻线

@border_ridge
浮雕线

@border_inset
陷入线

@border_outset
突出线

#==== Editor ====
@text_properties
文本

@color_properties
颜色

@layout_properties
布局

@border_properties
边框

@basic_mode
选择

@basic_mode_description
可视化 CSS 编辑器

@magic_mode
简阅

@magic_mode_description
实验性功能

@code_mode
代码

@code_mode_description
代码

@inspect_description 
选择页面中的一个元素来对其进行样式设置

@enter_css_selector
进入 CSS 选择器

@delete_style
删除样式

@delete_style_for_url_title
删除 $url$ 的样式

@delete_style_for_url_description
这将永久删除 $url$ 上的样式。并且不能撤销。

@delete
删除

@cancel
取消

@view_options
设置

@view_keyboard_shortcuts
查看快捷键

@resize
调整大小

@dock_to_right
搬到对

@dock_to_left
搬到左边

@squish_page
调整页面宽度

@close
关闭

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
快捷键

@customize
自定义

@editor
编辑器

@global
全局

@toggle_editor
开启/关闭编辑器

@toggle_styling
开启/关闭样式

@toggle_readability
开启/关闭简阅

@toggle_grayscale
开启/关闭灰度

@toggle_inspector
开启/关闭元素选择器

@move_editor
移动编辑器

@set_basic_mode
切换到选择页面

@set_magic_mode
切换到简阅页面

@set_code_mode
切换到代码编辑器

@show_help
显示帮助

@hide_element
隐藏或显示所选元素

@styling
样式

@magic_mode_description
实验性功能。可能无法在所有页面上正常工作。

#==== Readability ====

@readability
简阅

@enable_readability
开启简阅

@readability_description
隐藏侧边栏，页脚和广告之类的非必需页面元素，使该网站上的文章易于阅读。

@theme
主题

@light_theme
明亮

@dark_theme
黑暗

@sepia_theme
棕褐色

@decrease_width
减小宽度

@increase_width
增加宽度

#==== Grayscale ====

@grayscale
灰度

@grayscale_description
将灰度应用于该页面

#==== Popup ====

@open_stylebot
打开 Stylebot

@close_stylebot
关闭 Stylebot

#==== Context Menu ====

@style_element
打开 Stylebot

#==== Options ====

@basics_options
基本

@styles_options
样式

@sync_options
备份

@help_options
帮助

@donate
捐助

#==== Basics ====

@context_menu
上下文菜单

@enable_right_click_menu
开启右键菜单

#==== Styles ====

@add_new_style
添加新样式

@enable_all_styles
全部开启

@disable_all_styles
全部关闭

@open_delete_all_styles_dialog
全部删除

@delete_all_warning
这将永久删除您的所有样式。且此操作无法撤销。

@delete_all_styles
删除所有样式

@open_delete_style_dialog
删除

@delete_style_warning
这将永久删除您的样式。且此操作无法撤销。

@open_edit_style_dialog
编辑

@save
保存

#==== Sync ====

@sync_via_google_drive
通过Google云端硬盘手动同步

@sync_description
您需要手动同步以更新远程和/或本地样式。

@view_synced_file
看

@download_synced_file
下载

@sync_now
立即同步

@sync_in_progress
同步中...

@synced_at_time
已同步 $time$

@disable_google_drive_sync
停用Google云端硬盘同步

@enable_google_drive_sync
启用Google云端硬盘同步

#==== Backup ====

@backup
后备

@backup_description
将样式导出和导入为JSON

@export
导出

@import
导入

@import_success
样式成功导入

@import_error
无法导入样式 - $error$

#==== Store Listing ====

@store_listing

选择一个元素，然后从编辑器中选择要进行的任何更改。您可以更改字体，颜色，边距，可见性等。您也可以自定义 CSS。

★易于使用：使用 UI 操作挑选元素并设置样式
★简单快捷：更改立即保存
★代码编辑器-在这里编写自己的 CSS
★可读性模式-通过隐藏非必要的页面元素（如侧边栏，页脚和广告），提升网页阅读体验。
★灰度模式-启用灰度以减少来自网页的刺激

@privacy_policy

隐私政策：

Stylebot 从未收集过，也不会收集任何个人数据、浏览历史记录等。访问网站的权限仅是允许您自定义任何网页的 CSS，并在将来访问该网页时自动应用您的 CSS。

将来，Stylebot 可能会收集浏览器版本，平台名称，用户设置（网站列表或任何其他有助于识别用户的数据除外）等信息。这些信息将用来实现新功能，删除未使用的功能或为新用户建议默认设置。只有获得您的许可，它才会发生。