@extension_description
壹個方便改變網頁外觀的擴展

#==== CSS Properties ====

@font_family
字體

@font_size
字號

@font_style
字型

@line_height
行高

@text_decoration
文本修飾

@text_transform
大小寫轉換

@text_align
對齊方式

@text_color
字色

@background_color
背景色

@visibility
可見性

@hide
隱藏

@margin
外邊距

@border
邊框

@padding
內邊距

@width
寬度

@height
高度

@none
無

@default
默認

@thin
淡體

@light
細體

@regular
標準

@medium
適中

@bold
粗體

@black
濃體

@thin_italic
淡斜體

@light_italic
細斜體

@italic
標準斜體

@medium_italic
適中斜體

@bold_italic
粗斜體

@black_italic
濃斜體

@border_style
樣式

@border_color
顏色

@border_none
無

@border_solid
實線

@border_dotted
點虛線

@border_dashed
方形虛線

@border_double
雙實線

@border_groove
雕刻線

@border_ridge
浮雕線

@border_inset
陷入線

@border_outset
突出線

#==== Editor ====
@text_properties
文本

@color_properties
顏色

@layout_properties
布局

@border_properties
邊框

@basic_mode
選擇

@basic_mode_description
可視化 CSS 編輯器

@magic_mode
簡閱

@magic_mode_description
實驗性功能

@code_mode
代碼

@code_mode_description
代碼

@inspect_description 
選擇頁面中的壹個元素來對其進行樣式設置

@enter_css_selector
進入 CSS 選擇器

@delete_style
刪除樣式

@delete_style_for_url_title
刪除 $url$ 的樣式

@delete_style_for_url_description
這將永久刪除 $url$ 上的樣式。並且不能撤銷。

@delete
刪除

@cancel
取消

@view_options
設置

@view_keyboard_shortcuts
查看快捷鍵

@move_left
置左

@move_right
置右

@close
關閉

#==== Keyboard shortcuts help ====

@keyboard_shortcuts
快捷鍵

@customize
自定義

@editor
編輯器

@global
全局

@toggle_editor
開啟/關閉編輯器

@toggle_styling
開啟/關閉樣式

@toggle_readability
開啟/關閉簡閱

@toggle_grayscale
開啟/關閉灰度

@toggle_inspector
開啟/關閉元素選擇器

@move_editor
移動編輯器

@set_basic_mode
切換到選擇頁面

@set_magic_mode
切換到簡閱頁面

@set_code_mode
切換到代碼編輯器

@show_help
顯示幫助

@hide_element
隱藏或顯示所選元素

@styling
樣式

@magic_mode_description
實驗性功能。可能無法在所有頁面上正常工作。

#==== Readability ====

@readability
簡閱

@enable_readability
開啟簡閱

@readability_description
隱藏側邊欄，頁腳和廣告之類的非必需頁面元素，使該網站上的文章易於閱讀。

@theme
主題

@light_theme
明亮

@dark_theme
黑暗

@sepia_theme
棕褐色

@decrease_width
減小寬度

@increase_width
增加寬度

#==== Grayscale ====

@grayscale
灰度

@grayscale_description
將灰度應用於該頁面

#==== Popup ====

@open_stylebot
打開 Stylebot

@close_stylebot
關閉 Stylebot

#==== Context Menu ====

@style_element
打開 Stylebot

#==== Options ====

@basics_options
基本

@styles_options
樣式

@backup_options
備份

@help_options
幫助

@context_menu
上下文菜單

@enable_right_click_menu
開啟右鍵菜單

@donate
捐助

@backup_description
在我們支持自動同步/備份之前，請手動備份您的 CSS

@open_export_dialog
導出

@open_import_dialog
導入

@add_new_style
添加新樣式

@enable_all_styles
全部開啟

@disable_all_styles
全部關閉

@open_delete_all_styles_dialog
全部刪除

@delete_all_warning
這將永久刪除您的所有樣式。且此操作無法撤銷。

@delete_all_styles
刪除所有樣式

@open_delete_style_dialog
刪除

@delete_style_warning
這將永久刪除您的樣式。且此操作無法撤銷。

@open_edit_style_dialog
編輯

@save
保存

@export_dialog_title
復制/粘貼到 JSON 文件中

@export_instructions
請確保 JSON 安全，以便以後導入

@copy_to_clipboard
復制到剪貼板

@import_dialog_title
粘貼先前導出的 JSON

@import_instructions
這將覆蓋您現有的樣式。且此操作無法撤銷。

@import_error
導入 JSON 時出錯。請確保其格式正確，然後重試。

@import 
導入

#==== Store Listing ====

@store_listing

選擇壹個元素，然後從編輯器中選擇要進行的任何更改。您可以更改字體，顏色，邊距，可見性等。您也可以自定義 CSS。

★易於使用：使用 UI 操作挑選元素並設置樣式
★簡單快捷：更改立即保存
★代碼編輯器-在這裏編寫自己的 CSS
★可讀性模式-通過隱藏非必要的頁面元素（如側邊欄，頁腳和廣告），提升網頁閱讀體驗。
★灰度模式-啟用灰度以減少來自網頁的刺激

@privacy_policy

隱私政策：

Stylebot 從未收集過，也不會收集任何個人數據、瀏覽歷史記錄等。訪問網站的權限僅是允許您自定義任何網頁的 CSS，並在將來訪問該網頁時自動應用您的 CSS。

將來，Stylebot 可能會收集瀏覽器版本，平臺名稱，用戶設置（網站列表或任何其他有助於識別用戶的數據除外）等信息。這些信息將用來實現新功能，刪除未使用的功能或為新用戶建議默認設置。只有獲得您的許可，它才會發生。