* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

:root {
  color-scheme: light dark;

  --spacing: 20px;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: var(--spacing);
  margin: 0 calc(var(--spacing) * 2);
  height: 100%;

  font: -apple-system-short-body;
  text-align: center;
}

body:not(.state-on, .state-off, .state-unknown) {
  visibility: hidden;
}

h1 {
  margin: 0;

  font: -apple-system-title1;
}

p {
  margin: 0;
}

.description {
  color: GrayText;
}

body:not(.state-on) .state-on,
body:not(.state-off) .state-off,
body:not(.state-unknown) .state-unknown {
  display: none;
}

button {
  font-size: 1em;
}
