#stylebot-preview {
  background: rgba(0, 0, 0, 0.50) !important;
  color: #fff !important;
  position: fixed;
  font-size: 20px !important;
  z-index: 10000 !important;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif !important;
  max-width: 400px !important;
  padding: 10px !important;
  border-radius: 5px !important;
}

#stylebot-preview-meta {
  font-size: 15px !important;
  padding-top: 5px !important;
}

#stylebot-preview-description {
  font-size: 15px !important;
  padding-top: 8px !important;
}
