/** Stylebot Keyboard Shortcuts Help **/

#stylebot-shortcuts {
  background: transparent !important;
  border: 3px solid transparent !important;
  border-radius: 3px !important;
  position: fixed !important;
  top: 5% !important;
  left: 10% !important;
  z-index: 2147483647 !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 0px 18px;
  width: 80% !important;
  max-height: 90%;
  overflow: auto !important;
}

#stylebot-shortcuts-content {
  display: block !important;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eee),
    to(#bdbdbd)
  ) !important;
  border-radius: 3px !important;
  color: #333 !important;
  position: relative !important;
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  text-shadow: 0px 1px 1px #fff !important;
  float: left !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 20px 0px !important;
}

#stylebot-shortcuts h1 {
  font-size: 16px !important;
  text-align: center !important;
  font-weight: bold !important;
  color: #457392 !important;
  margin-bottom: 20px !important;
  padding: 0px !important;
}

#stylebot-shortcuts h2 {
  font-size: 14px !important;
  font-weight: bold !important;
  color: #333 !important;
  margin-bottom: 15px !important;
  padding: 0px !important;
}

ul.stylebot-shortcut-section {
  list-style-type: none !important;
  float: left !important;
  min-width: 30% !important;
  text-align: center !important;
  margin: 10px !important;
}

span.stylebot-key {
  float: left !important;
  background-color: #fbfbfb !important;
  color: #333 !important;
  border-radius: 2px;
  text-align: center !important;
  margin-right: 20px !important;
  padding: 2px 7px !important;
  border: 1px solid #ccc !important;
  min-width: 10px;
  text-shadow: none !important;
  font-family: Monaco, 'Lucida Console', monospace !important;
  font-size: 14px !important;
  font-weight: normal !important;
  -webkit-box-shadow: #bbb 1px 1px 0px !important;
}

span.stylebot-key-desc {
  margin: 4px 0px 0px 0px !important;
  display: inline !important;
  float: left !important;
}

li.stylebot-shortcut {
  text-align: left !important;
  float: left !important;
  clear: both !important;
  line-height: 20px !important;
  margin: 1px 0px !important;
  padding: 2px !important;
}

a#stylebot-shortcuts-close {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #457392 !important;
  text-decoration: none !important;
  clear: both !important;
  float: left !important;
  text-align: center !important;
  width: 100% !important;
  margin-top: 10px !important;
}
