:host {
  --body-padding: 64px;
  --popup-border: rgba(0, 0, 0, 0.12);
  --opaque-popup-border: #e0e0e0;
  --popup-shadow: rgba(49, 49, 49, 0.3);
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a20: rgba(12, 12, 13, 0.2);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
  --grey-90-a80: rgba(12, 12, 13, 0.8);
  --grey-30: #d7d7db;
  --blue-40: #45a1ff;
  --blue-40-a30: rgba(69, 161, 255, 0.3);
  --blue-60: #0060df;
  --active-color: #0b83ff;
  --font-size: 12;
  --content-width: 650px;
  --line-height: 1.6em;
}

.stylebot-reader {
  background: #fff;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.stylebot-reader * {
  margin: 0;
  max-width: 100%;
  height: auto;
}

.stylebot-reader .content {
  margin: 0 auto;
  font-size: var(--font-size);
  max-width: var(--content-width);
  line-height: var(--line-height);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.stylebot-reader .header > h1 {
  font-size: 1.6em;
  line-height: 1.25em;
  width: 100%;
  margin: 30px 0;
  padding: 0;
}

.stylebot-reader a {
  color: var(--blue-40);
}

.stylebot-reader p,
.stylebot-reader p,
.stylebot-reader code,
.stylebot-reader pre,
.stylebot-reader blockquote,
.stylebot-reader ul,
.stylebot-reader ol,
.stylebot-reader li,
.stylebot-reader figure {
  margin: -10px -10px 20px;
  padding: 10px;
  border-radius: 5px;
}

.stylebot-reader .domain {
  font-size: 0.9em;
  line-height: 1.48em;
  padding-bottom: 4px;
  text-decoration: none;
  border-bottom: 1px solid;
  border-bottom-color: currentcolor;
  color: #0095dd;
}

.stylebot-reader .byline {
  font-size: 1rem;
  font-weight: 300;
}

/* HACK: Hide "skip to main content" link */
.stylebot-reader a[href='#content'] {
  display: none;
}
