body {
  min-width: 200px;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  background: #fefefe;
  font-size: 13px;
  max-height: 300px
}

.nav {
  margin: 0;
}

.nav-pills > li > a {
  border-radius: 0 !important;
}

.dropdown-menu {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 0 !important;
}

.nav .dropdown-toggle .caret {
  border-top-color: #333;
  border-bottom-color: #333;
  margin-top: 6px;
}

.nav-pills > li {
  min-width: 200px;
  border: 1px solid #eee;
}

.nav-pills > li > a {
  color: #333;
}

.nav-pills > li > a.disabled {
  color: #ccc;
}

.dropdown-menu > li {
  width: 350px;
  padding: 5px;
}

.dropdown-menu > li:hover {
  background: #eee;
}

.style-item {
  cursor: pointer;
}

.style-meta {
  font-size: 10px;
}

.style-link {
  padding-left: 5px;
  padding-right: 5px;
}

.pull-right {
  position: relative;
}

.style-featured {
  font-size: 9px;
  background-color: #73ba68;
  color: #fff;
  padding: 0px 5px;
  position: absolute;
  right: 2;
  height: 14px;
  line-height: 13px;
  top: 4;
}

.style-installed {
  font-size: 9px;
  background-color: rgb(199, 96, 96);
  color: #fff;
  padding: 0px 5px;
  position: absolute;
  right: 52;
  height: 14px;
  line-height: 13px;
  top: 4;
}

.tooltip {
  line-height: 16px;
  text-align: left;
}

.tooltip * {
  font-size: 11px;
  text-align: left;
}

.tooltip-inner {
  background: #333;
}

.tooltip-arrow {
  border-bottom-color: #333 !important;
  border-top-color: #333 !important;
}
