body {
  min-width: 200px;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  background: #fefefe;
  font-size: 13px;
  max-height: 300px
}

.nav {
  margin: 0;
}

.dropdown-menu {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

.nav .dropdown-toggle .caret {
  border-top-color: #333;
  border-bottom-color: #333;
  margin-top: 6px;
}

.nav-pills > li {
  min-width: 200px;
  border: 1px solid #eee;
}

.nav-pills > li > a {
  color: #333;
}

.dropdown-menu > li {
  width: 350px;
  padding: 5px;
}

.dropdown-menu > li:hover {
  background: #eee;
}

.style-meta {
  padding-left: 5px;
  font-size: 10px;
}

.style-featured {
  color: #73ba68;
  padding-left: 10px;
}

.style-installed {
  color: rgb(199, 96, 96);
  padding-left: 10px;
}
