.btn {
  margin-right: 10px;
  background: #fff;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.btn:hover:not(:disabled) {
  cursor: pointer;
  background: #eee;
}

.header {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: end;
  padding: 1.45rem 1.0875rem 0.7em;
}

.header-link {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #131313;
  opacity: 0.8;
  font-size: 15px;
  margin-left: 15px;
  text-decoration: none;
}

.header-link img {
  height: 20px;
  margin-bottom: -4px;
}

.header-link:hover {
  opacity: 1;
}

.buy-coffee {
  background-color: #0062cc;
  padding: 4px 12px;
  border-radius: 16px;
  color: #fff;
}

.intro {
  margin: 48px 0 24px 0;
  font-size: 24px; 
  line-height: 36px;
}

.downloads {
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.download {
  display: flex;
  margin: 0 auto;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333;
  margin-top: 20px;
  border: 1px solid #ccc;
  margin-right: 12px;
  border-radius: 32px;
}

.download:hover {
  background: #eee;
}

.download:visited {
  color: #333;
}

.download img {
  height: 45px;
  margin-right: 10px;
  margin-bottom: 0;
}

.feature {
  display: flex; 
  padding: 48px 0;
  border-top: 1px solid #eee;
}

.feature-img {
  margin-bottom: 12px;
  box-shadow: 1px 0px 24px 0px rgba(51, 51, 51, 0.3);
}

.feature-desc {
  min-width: 400px;
}

.footer {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 30px;
  font-size: 16px;
}

.footer a {
  color: #131313;
  opacity: 0.8;
  text-decoration: none;
}

.footer a:hover {
  color: #0095dd;
  opacity: 1;
}

hr {
  margin: 24px 0;
  background: #eee !important;
}

p {
  max-width: 750px;
}