.version {
  font-weight: 200;
}

.btn {
  margin-right: 10px;
  background: #fff;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.btn:hover:not(:disabled) {
  cursor: pointer;
  background: #eee;
}

.header-link {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #131313;
  opacity: 0.8;
  font-size: 15px;
  margin-left: 15px;
  text-decoration: none;
}

.header-link img {
  height: 20px;
  margin-bottom: -4px;
}

.header-link:hover {
  opacity: 1;
}

.chrome-install-link {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 260px;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333;
  margin-top: 20px;
}

.chrome-install-link:hover {
  background: #eee;
}

.chrome-install-link:visited {
  color: #333;
}

.footer {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 30px;
  font-size: 16px;
}

.footer a {
  color: #131313;
  opacity: 0.8;
  text-decoration: none;
}

.footer a:hover {
  color: #0095dd;
  opacity: 1;
}
