/* Stylebot Panel Controls */

/* Multisize */

.stylebot-multisize {
  display: inline-block !important;
  height: 55px !important;
  width: 150px !important;
  position: relative !important;
}

.stylebot-multisize input.stylebot-textfield {
  position: absolute;
}

.stylebot-multisize-top {
  left: 32px;
  top: 0px;
}

.stylebot-multisize-left {
  left: 0px;
  top: 20px;
}

.stylebot-multisize-all {
  left: 32px;
  top: 20px;
}

.stylebot-multisize-right {
  left: 64px;
  top: 20px;
}

.stylebot-multisize-bottom {
  left: 32px;
  top: 40px;
}

.stylebot-multisize .stylebot-selectize-control {
  left: 100px;
  top: 20px;
  position: absolute !important;
}

/* Color Picker & Selector */

div.stylebot-colorselector {
  border: 1px solid #ccc !important;
  background-color: #f8f8f8;
  display: inline-block;
  height: 12px !important;
  margin-bottom: -5px !important;
  padding: 2px !important;
  width: 30px !important;
  -webkit-box-sizing: content-box !important;
}

div.stylebot-colorselector.disabled {
  opacity: 0.5 !important;
}

div.stylebot-colorselector-color {
  background-color: #fff;
  border: 1px solid #aaa !important;
  height: 70% !important;
  margin: 1px 1px !important;
  width: auto !important;
  -webkit-box-sizing: content-box !important;
}

div.stylebot-colorselector:focus {
  outline: none !important;
}

div.stylebot-colorselector:focus:not(.disabled) {
  background-color: #ddd !important;
}

/* Textfields & Textareas */

input[type="text"].stylebot-textfield,
textarea.stylebot-textarea
{
  background: #fff !important;
  border: 1px solid #C2C2C2 !important;
  border-radius: 2px !important;
  color: #333 !important;
  font-family: inherit !important;
  font-size: 11px !important;
  outline: none !important;
  width: auto;
  -webkit-box-shadow: none !important;
}

input.stylebot-textfield:disabled,
textarea.stylebot-textarea:disabled
{
  opacity: 0.5 !important;
}

input[type="text"].stylebot-textfield {
  -webkit-box-sizing: content-box !important;
  font-family: inherit !important;
  height: 12px !important;
  line-height: 12px !important;
  min-height: 12px !important;
  padding: 2px !important;
}

textarea.stylebot-css-code {
  color: #333 !important;
  font-size: 11px !important;
  font-family: Monaco, 'Lucida Console', monospace !important;
  line-height: 16px !important;
  padding: 2px !important;
  background: #fbfbfb !important;
  margin: 5px 0 !important;
  border: 1px solid #ccc !important;
  padding: 5px !important;
  outline: none !important;
  width: 98% !important;
}

/* Buttons */

button.stylebot-button {
  -khtml-appearance: none !important;
  color: #4F4F4F !important;
  display: inline !important;
  font-family: inherit !important;
  font-size: 10px !important;
  font-weight: bold !important;
  line-height: normal !important;
  padding: 3px 8px !important;
  border-radius: 2px !important;
  border: 1px solid #b6b6b6 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#bdbdbd)) !important;
  text-shadow: 0px 1px 1px #fff !important;
}

button.stylebot-button:disabled {
  opacity: 0.5 !important;
}

button.stylebot-button:focus:not(:disabled) {
  outline: 1px solid #777 !important;
}

button.stylebot-button:hover:not(:disabled) {
  color: #313131 !important;
  border-color: #9d9d9d !important;
  -webkit-box-shadow: 0px 0px 8px rgba(212,212,212,1) !important;
  cursor: pointer !important;
}

button.stylebot-button:active:not(:disabled),
button.stylebot-button-active:not(:disabled)
{
  background: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#f5f5f5)) !important;
  color: #4f4f4f !important;
  border-color: #b6b6b6 !important;
}

button.stylebot-button-selected,
button.stylebot-button-selected:hover:not(:disabled)
{
  background: -webkit-gradient(linear, left top, left bottom, from(#b9e0f5), to(#73a4c4)) !important;
  color: #1c4257 !important;
  border-color: #7096ab !important;
}

button.stylebot-button-selected:active:not(:disabled),
button.stylebot-button-selected.stylebot-button-active:not(:disabled)
{
  background: -webkit-gradient(linear, left top, left bottom, from(#81afc8), to(#b7def4)) !important;
}

/* Segmented Control */

.stylebot-segmented-control button {
  margin: 0px !important;
  border-radius: 0px !important;
  padding: 3px 8px !important;
  border-right-width: 0px !important;
}

.stylebot-segmented-control button:hover:not(:disabled),
.stylebot-segmented-control button:focus:not(:disabled)
{
  -webkit-box-shadow: none !important;
  outline: none !important;
  color: #313131 !important;
  border-color: #b6b6b6 !important;
}

.stylebot-segmented-control button.stylebot-button-selected {
  border-right-width: 1px !important;
}

.stylebot-segmented-control button.stylebot-next-segmented-button {
  border-left-width: 0px !important;
}

.stylebot-segmented-control button.stylebot-button-selected:hover:not(:disabled),
.stylebot-segmented-control button.stylebot-button-selected:focus:not(:disabled)
{
  color: #102632 !important;
  border-color: #7096ab !important;
}

.stylebot-segmented-control :first-child {
  border-bottom-left-radius: 3px !important;
  border-top-left-radius: 3px !important;
}

/** Not using :last-child here due to Chrome's dodgy behavior with it. Maybe related to this issue: http://bit.ly/dqEfww
Instead, stylebot-last-child class is added to the last button in segmented control
**/
.stylebot-segmented-control button.stylebot-last-segmented-button {
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
  border-right-width: 1px !important;

}

.stylebot-segmented-control button span {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  line-height: normal !important;
}

/* Font Family Control */

.stylebot-font-family-control .stylebot-selectize-input,
.stylebot-font-family-control .stylebot-selectize-control.single .stylebot-selectize-input.focus {
  width: 200px !important;
}

/* Border Style Control */

.stylebot-border-style-control .stylebot-selectize-input,
.stylebot-border-style-control .stylebot-selectize-control.single .stylebot-selectize-input.focus {
  width: 80px !important;
}
