/* Modal window */
#stylebot-modal {
    padding: 15px;
    text-align: left;
    width: 50%;
    min-height: 50%;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1005000;
    position: fixed;
    top: 20%;
    left: 25%;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 10px #333;
    color: #333;
    font-size: 11px;
    font-family: 'Lucida Grande', Tahoma, Arial, sans-serif;
    display: none;
    line-height: 15px;
}

#stylebot-modal textarea {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #fbfbfb;
    resize: none;
    outline: none;
}

#stylebot-modal button {
    float: right;
}

#stylebot-background {
    background-color: #000;
    opacity: 0.7;
    z-index: 1002500;
    height: 100%;
    width: 100%;
    display: none;
    top: 0;
    left: 0;
    position: absolute;
}