/* Modal window */
#stylebot-modal {
    padding: 15px !important;
    text-align: left !important;
    width: 50% !important;
    min-height: 50% !important;
    background-color: #fff !important;
    border-radius: 5px !important;
    z-index: 1005000 !important;
    position: fixed !important;
    top: 15% !important;
    left: 25% !important;
    border: 1px solid #ccc !important;
    -webkit-box-shadow: 0px 0px 10px #333 !important;
    color: #333 !important;
    font-size: 14px !important;
    font-family: 'Lucida Grande', Tahoma, Arial, sans-serif !important;
    display: none;
    line-height: 15px !important;
}

#stylebot-modal textarea {
    margin: 10px 0 !important;
    border: 1px solid #ccc !important;
    padding: 5px !important;
    background-color: #fbfbfb !important;
    resize: none;
    outline: none;
}

#stylebot-modal button {
    float: right !important;
}

#stylebot-background {
    background-color: #000 !important;
    opacity: 0.7 !important;
    z-index: 1002500 !important;
    height: 100% !important;
    width: 100% !important;
    display: none;
    top: 0;
    left: 0;
    position: absolute !important;
}