/** Stylebot options page css **/

body {
    font-size: 14px;
    line-height: 28px;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
    background-color: #fff;`
}

#wrap {
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-weight: normal;
    font-size: 22px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    color: #555;
}

#tabmenu h1 {
    margin: 20px 10 17 5;
}

#options h1 {
    border-bottom: 1px solid #eee;
}

a {
    color: #467ecc;
    text-decoration: none;
    -webkit-transition: color 0.2s linear;
}

a:hover {
    color: #294266;
}

.description {
    color: #888;
    font-size: 13px !important;
}

#footer {
    font-size: 12px;
    text-align: right;
    line-height: 25px;
    padding-right: 10px;
    color: #555;
}

/** options **/

ul {
    margin: 0;
    padding: 0;
}

li.option {
    list-style-type: none;
    line-height: 50px;
}

li.option:first-of-type {
    margin-top: -10px;
}

li.option label {
    width: 280px;
    display: inline-block;
}

.option-field {
    display: inline;
}

/** end of options **/

/* custom styles */

#custom-styles {
    min-width: 420px;
    margin-bottom: 20px;
}

#custom-styles input {
    text-align: left;
}

#custom-styles-header {
    overflow: auto;
}

#style-search-field {
    float: left;
    width: 35%;
    outline: none;
    margin-bottom: 20px;
    font-size: 20px;
}

.custom-style {
    clear: both;
    margin: 5px;
    margin-left: 0px;
}

.custom-style-url {
    padding: 2px;
    width: 200px;
    word-wrap: break-word;
    display: inline-block;
    line-height: 20px;
}

.custom-style-url:hover {
    background-color: #fbfbfb;
    outline: 1px solid #ccc;
    cursor: text;
}

.custom-style-url:focus {
    outline: 1px solid #aaa;
}

#custom-styles-container .button-container {
    margin-left: 10px;
    display: inline-block;
    padding-top: 7px;
}

/** end of options **/


/** popup **/

textarea.stylebot-css-code {
    color: #333 ;
    font-size: 12px ;
    font-family: Menlo, Monaco, 'Lucida Console', monospace;
    line-height: 16px;
    padding: 2px;
    display: block;
}

#stylebot-modal div {
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#stylebot-modal .description {
    color: #666;
}

#stylebot-modal input {
    text-align: left;
}

#stylebot-modal button {
    float: right;
    margin: 0px;
    margin-left: 4px;
}

#stylebot-modal textarea {
    width: 100% !important;
}

/** tabs **/

ul.menu {
    float: right;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding-bottom: 20px;
}

.separator {
    width: 96%;
    height: 1px;
    float: right;
    background-color: #ccc;
    margin: 5px;
    -webkit-box-shadow: 0px 1px 1px #fff;
}

ul.menu li.tabActive {
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0px 1px 0px #F7F7F7;
}

.tabActive a {
    color: #294266;
}

ul.menu li {
    text-align: right;
    width: 300px;
    list-style-type: none;
    padding: 3 10 3 3;
    margin: 5 0 0 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

ul.menu li a,
ul.menu li a:visited
{
    text-decoration: none;
}

#options {
    position: absolute;
    margin: 0 0 20px 235px;
    float: left;
    max-width: 888px;
    min-width: 600px;
    background-color: #fff;
    padding: 20px;
}

#tabmenu {
    position: fixed;
    width: 229px;
    margin: 0;
    float: left;
    height: 100%;
    background: -webkit-linear-gradient(rgba(240, 240, 240, 0.5), #FDFDFD), -webkit-linear-gradient(left, #FDFDFD, #FDFDFD 97%, #DDD);
    border-right: 1px solid;
    border-color: #C3C3C3;
    text-align: right;
}

/** CONTROLS: CSS from Chromium Project **/

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 2px;
    text-align: right;
    background-color: #fbfbfb;
}

button,
input[type=button],
input[type=submit],
a.button
{
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    margin-right: 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    border: 1px solid #AAA;
    min-width: 4em;
    padding: 3px 12px 3px 12px;
    color: #444;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

button:hover,
input[type='button']:hover,
input[type='submit']:hover,
a.button:hover
{
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    border-color: #999;
    color: #222;
}

button:active,
input[type='button']:active,
input[type='submit']:active,
a.button:active
{
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    color: #333;
}

button[disabled],
input[type='button'][disabled],
input[type='submit'][disabled],
button[disabled]:hover,
input[type='button'][disabled]:hover,
input[type='submit'][disabled]:hover
{
    -webkit-box-shadow: none;
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    border-color: #aaa;
    color: #888;
}

/* SELECT */
select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 5px;
  -webkit-user-select: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sCDwEnBT3jKacAAABaSURBVCjPY2CgA4gC4jQ8OIpokxKBgJmZ+RuQ+R8dg8RB8kQb9v//f4UFCxYsZGNj+4lsEIgPEgfJk+RPdAPJNgjdQD4+vi8UGYRs4Nu3b5soNgjJQFZi1AEAhHNE/wdnPVcAAAAASUVORK5CYII="), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select:disabled {
  color: graytext;
}

select:enabled:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sCDwEnBT3jKacAAABaSURBVCjPY2CgA4gC4jQ8OIpokxKBgJmZ+RuQ+R8dg8RB8kQb9v//f4UFCxYsZGNj+4lsEIgPEgfJk+RPdAPJNgjdQD4+vi8UGYRs4Nu3b5soNgjJQFZi1AEAhHNE/wdnPVcAAAAASUVORK5CYII="), -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  color: #333;
}

select:enabled:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sCDwEnBT3jKacAAABaSURBVCjPY2CgA4gC4jQ8OIpokxKBgJmZ+RuQ+R8dg8RB8kQb9v//f4UFCxYsZGNj+4lsEIgPEgfJk+RPdAPJNgjdQD4+vi8UGYRs4Nu3b5soNgjJQFZi1AEAhHNE/wdnPVcAAAAASUVORK5CYII="), -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #444;
}

/* CHECKBOX, RADIO */
input[type=checkbox],
input[type=radio] {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  top: 1px;
}