/** Stylebot options page css **/

body {
	font-size: 14px;
	line-height: 28px;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	color: #555;
	margin: 0;
	padding: 0;
	background-color: #fff;	
    text-shadow: 0px 0px 1px #fbfbfb;
}

#wrap {
	width: 100%;
	margin: 0 auto;
}

h3 {
	font-weight: normal;
	font-size: 22px;
	margin: 0;
	padding: 0;
	color: #555;
}

h4 {
	font-weight: normal;
	color: #555;
	line-height: 2em;
	font-size: 18px;
}

a {
    color: #467ecc;
    text-decoration: none;
	-webkit-transition: color 0.2s linear;
}

a:hover {
	color: #294266;
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 2px;
    text-align: right;
	background-color: #fbfbfb;
}

button, input[type=button], input[type=submit], a.button {
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	margin-left: 5px;
	border-radius: 9px;
	-moz-border-radius: 9px;
	border: 1px solid #dedede;
	cursor: pointer;
	padding: 1px 7px;
	color: #666;
	background-color: #efefef;
	text-decoration: none;
	-webkit-transition-property:color, background-color;
	-webkit-transition-duration: 0.2s, 0.2s;
	-webkit-transition-timing-function: linear, linear;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
	background: none;
	background-color: #fff;
	color: #555;
}

select {
    font-size: 14px;
}

.description {
    color: #444;
    font-size: 12px !important;
}

#footer {
    font-size: 12px;
    text-align: right;
    line-height: 25px;
	padding-right: 10px;
	color: #555;
}

/** options **/

ul {
	margin: 0;
	padding: 0;
}

li.option {
    list-style-type: none;
    padding: 5px 0;
}

li.option:first-of-type {
	padding: 0;
}

li.option label {
    width: 400px;
}

.option-field {
    float: right;
}

/** end of options **/

/* custom styles */

#custom-styles {
/*	width: 60%;*/
	min-width: 420px;
}

#custom-style-install-text {
	float: left; 
	margin-left: 20px;
}

.custom-style {
    clear: both;
}

.custom-style-url {
    padding: 2px;
	width: 200px;
	word-wrap: break-word;
	display: inline-block;	
}

.custom-style-url:hover {
    background-color: #fbfbfb;
    outline: 1px solid #ccc;
    cursor: text;
}

.custom-style-url:focus {
    outline: 1px solid #aaa;
}

#custom-styles input {
    text-align: left;
	float: left;
	width: 35%;
    outline: none;
	line-height: 15px;
	margin-bottom: 20px;
}

#custom-styles .button-container {
/*    float: right;*/
	display: inline-block;
	padding-top: 7px;
}

/** end of options **/


/** popup **/

textarea.stylebot-css-code {
    color: #333 ;
    font-size: 12px ;
    font-family: Menlo, Monaco, 'Lucida Console', monospace ;
    line-height: 16px;
    padding: 2px;
    display: block;
}

#stylebot-modal div {
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#stylebot-modal .description {
    color: #666;
}

#stylebot-modal input {
    text-align: left;
}

#stylebot-modal button {
    float: right;
    margin: 0px;
    margin-left: 4px;
}

#stylebot-modal textarea {
    width: 100% !important;
}

/** tabs **/

ul.menu {
	float: right;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding-bottom: 20px;
}

.separator {
	width: 96%;
	height: 1px;
	float: right;
	background-color: #ccc;
	margin: 5px;
	-webkit-box-shadow: 0px 1px 1px #fff;
}

.tabActive {
	font-weight: bold;
	background-color: #fff;
}

ul.menu li {
	text-align: right;
	width: 300px;
	list-style-type: none;
	padding: 3 10 3 3;
	margin: 5 0 0 0;
}

ul.menu li a, ul.menu li a:visited {
	text-decoration: none;
}

#options {
	position: absolute;
	margin: 0 0 20px 260px;
	float: left;
	min-width: 500px;
	background-color: #fff;
	padding: 20px;
}

#tabmenu {
	position: fixed;
	width: 259px;
	margin: 0;
	float: left;
	height: 100%;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#ccc));
	border-right: 1px solid;
	border-color: #C3C3C3;
	text-align: right;
}

#tabmenu h3 {
	padding: 45 10 17 5;
}