/** Stylebot Options Page **/

body {
    font-size: 14px;
    line-height: 28px;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
    background-color: #fff;`
}

#wrap {
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: normal;
    font-size: 22px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    color: #555;
}

h2 {
    margin-bottom: 10px;
}

#tabmenu h1 {
    margin: 20px 10 17 5;
}

#options h2 {
    font-size: 20px;
    border-bottom: 1px solid #DDD;
}

.option-section h3 {
    font-size: 14px;
    font-weight: bold;
    width: 180px;
    vertical-align: middle;
}

a {
    color: #467ecc;
    text-decoration: none;
    -webkit-transition: color 0.2s linear;
}

a:hover {
    color: #294266;
}

ul {
    margin: 0;
    padding: 0;
}

li.option {
    list-style-type: none;
    margin: 5px 0px;
}

li.option:first-of-type {
    margin-top: 10px;
}

.option-field {
    min-width: 280px;
    display: inline-block;
}

.option-section {
    width: 630px;
    padding-right: 20px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    border-bottom: 1px solid #DDD;
    padding: 10px 0 14px 0;
    margin-bottom: 6px;
}

.option-section .option-subsection {
    font-size:13px;
    -webkit-box-flex: 1;
}

.alert {
    position: relative;
    left: -2px;
    top: 5px;
    color: #D77582;
    font-size: 70%;
}

.important {
    color: #D77582;
    font-weight: bold;
}

.note {
    color: #555;
    font-weight: bold;
}

.description {
    margin: 10px 0;
    line-height: 18px;
    font-size: 11px;
    text-align: justify;
}

.error {
    color: hsl(349, 165%, 35%);
    font-weight: bold;
}

#footer {
    font-size: 12px;
    text-align: right;
    line-height: 25px;
    padding-right: 10px;
    color: #555;
}

#custom-styles {
    min-width: 422px;
    margin-bottom: 20px;
}

#custom-styles input {
    text-align: left;
}

#custom-styles-header {
    overflow: auto;
}

.custom-style {
    clear: both;
    margin: 5px;
    margin-left: 0px;
}

.custom-style-url {
    padding: 2px;
    padding-left: 4px;
    margin-right: 3px;
    width: 200px;
    word-wrap: break-word;
    display: inline-block;
    line-height: 20px;
    border: 1px solid transparent;
    outline: none;
}

.custom-style-url:hover {
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    cursor: text;
}

#stylebot-editing-field {
    width: 208px !important;
    padding-left: 3px !important;
    font-size: 13px !important;
    margin-right: 3px !important;
}

#custom-styles-container .button-container {
    margin-left: 10px;
    display: inline-block;
    padding-top: 7px;
}

#style-search-field {
    width: 166px;
    vertical-align: baseline;
    font-size: 14px;
}

#sync-button {
    width: 120px;
}

/** MODAL POPUP **/

#stylebot-modal {
    -webkit-border-radius: 2px !important;
}

#stylebot-modal .popup-content {
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 4px;
}

#stylebot-modal input {
    text-align: left;
}

#stylebot-modal-buttons {
    float: right;
    margin-right: 4px;
}

#stylebot-modal button {
    float: left;
    margin: 0px;
    margin-left: 4px;
}

#stylebot-modal textarea {
    color: #333 !important;
    font-size: 12px !important;
    font-family: Menlo, Monaco, 'Lucida Console', monospace !important;
    line-height: 16px !important;
    padding: 0px !important;
    display: block;
    width: 99% !important;
    margin: 5px 2px !important;
    height: 88% !important;
    position: relative;
    -webkit-border-radius: 2px !important;
}

#import-css textarea {
    height: 84% !important;
}

#stylebot-modal .description {
    font-size: 11px !important;
    margin: 0px !important;
    padding: 0px !important;
    color: #555 !important;
}

#parserError {
    float: left;
    margin-left: 5px;
    font-size: 12px !important;
}

/** end of modal popup **/

/** TABS **/

.separator {
    width: 96%;
    height: 1px;
    float: right;
    background-color: #ccc;
    margin: 5px;
    -webkit-box-shadow: 0px 1px 1px #fff;
}

ul.menu {
    float: right;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding-bottom: 20px;
}

ul.menu li {
    text-align: right;
    width: 300px;
    list-style-type: none;
    padding: 3 10 3 3;
    margin: 5 0 0 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

ul.menu li a,
ul.menu li a:visited
{
    text-decoration: none;
}

ul.menu li.tabActive {
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0px 1px 0px #F7F7F7;
}

ul.menu li.tabActive a {
    color: #294266;
}

#options {
    position: absolute;
    margin: 0 0 20px 235px;
    float: left;
    max-width: 888px;
    min-width: 630px;
    background-color: #fff;
    padding: 20px;
}

#tabmenu {
    position: fixed;
    width: 229px;
    margin: 0;
    float: left;
    height: 100%;
    background: -webkit-linear-gradient(rgba(240, 240, 240, 0.5), #FDFDFD), -webkit-linear-gradient(left, #FDFDFD, #FDFDFD 97%, #DDD);
    border-right: 1px solid;
    border-color: #C3C3C3;
    text-align: right;
}

/** CONTROLS: CSS from Chromium Project **/

input[type=text]
{
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 2px;
    text-align: right;
    background-color: #fbfbfb;
}

button,
input[type=button],
input[type=submit],
a.button
{
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    margin-right: 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    border: 1px solid #AAA;
    min-width: 4em;
    padding: 3px 12px 3px 12px;
    color: #444;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

button:hover,
input[type='button']:hover,
input[type='submit']:hover,
a.button:hover
{
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    border-color: #999;
    color: #222;
}

button:active,
input[type='button']:active,
input[type='submit']:active,
a.button:active
{
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    color: #333;
}

button[disabled],
input[type='button'][disabled],
input[type='submit'][disabled],
button[disabled]:hover,
input[type='button'][disabled]:hover,
input[type='submit'][disabled]:hover
{
    -webkit-box-shadow: none;
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    border-color: #aaa;
    color: #888;
}

/* SELECT */
select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 5px;
  -webkit-user-select: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sCDwEnBT3jKacAAABaSURBVCjPY2CgA4gC4jQ8OIpokxKBgJmZ+RuQ+R8dg8RB8kQb9v//f4UFCxYsZGNj+4lsEIgPEgfJk+RPdAPJNgjdQD4+vi8UGYRs4Nu3b5soNgjJQFZi1AEAhHNE/wdnPVcAAAAASUVORK5CYII="), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select:disabled {
  color: graytext;
}

select:enabled:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sCDwEnBT3jKacAAABaSURBVCjPY2CgA4gC4jQ8OIpokxKBgJmZ+RuQ+R8dg8RB8kQb9v//f4UFCxYsZGNj+4lsEIgPEgfJk+RPdAPJNgjdQD4+vi8UGYRs4Nu3b5soNgjJQFZi1AEAhHNE/wdnPVcAAAAASUVORK5CYII="), -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  color: #333;
}

select:enabled:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sCDwEnBT3jKacAAABaSURBVCjPY2CgA4gC4jQ8OIpokxKBgJmZ+RuQ+R8dg8RB8kQb9v//f4UFCxYsZGNj+4lsEIgPEgfJk+RPdAPJNgjdQD4+vi8UGYRs4Nu3b5soNgjJQFZi1AEAhHNE/wdnPVcAAAAASUVORK5CYII="), -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #444;
}

/* CHECKBOX, RADIO */
input[type=checkbox],
input[type=radio] {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  top: 1px;
}

/* custom inputs */
input[name=shortcutKeyCharacter] {
    text-transform: uppercase;
    text-align: center;
    width: 2em;
}

/* CodeMirror */
.CodeMirror {
  overflow-y: auto !important;
  font-size: 12px !important;
  line-height: 16px !important;
  font-family: Menlo, Monaco, 'Lucida Console', monospace !important;
  position: relative !important;
  margin: 5px 0px !important;
  border: 1px solid #ccc !important;
  padding: 0px !important;
  background-color: #fbfbfb !important;
  resize: none !important;
  outline: none !important;
  width: 99% !important;
  height: 87% !important;
}

/** slightly variable CodeMirror heights based on type of modal popup **/
#add-css .CodeMirror {
    height: 84% !important;
}

#edit-css .CodeMirror {
    height: 86% !important;
}

.CodeMirror-error {
  background-color: #D77582 !important;
  color: white !important;
}

.CodeMirror-gutter {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
  min-width: 2em;
  height: 100% !important;
}

.CodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .2em .4em .4em;
  height: 100% !important;
}

.CodeMirror-lines {
  padding: .4em;
}

.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: Menlo, Monaco, 'Lucida Console', monospace;
}

.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 1px solid black !important;
}

.CodeMirror-focused .CodeMirror-cursor {
  visibility: visible;
}

span.CodeMirror-selected {
  background: #ccc !important;
  color: HighlightText !important;
}
.CodeMirror-focused span.CodeMirror-selected {
  background: Highlight !important;
}

.CodeMirror-matchingbracket {color: #0f0 !important;}
.CodeMirror-nonmatchingbracket {color: #f22 !important;}

span.css-at {color: #708;}
span.css-unit {color: #281;}
span.css-value {color: #708;}
span.css-identifier {color: black;}
span.css-selector {color: #11B;}
span.css-important {color: #00F;}
span.css-colorcode {color: #299;}
span.css-comment {color: #A70;}
span.css-string {color: #A22;}
