/** Stylebot options page css **/

body {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
	font-size: 16px;
	line-height: 28px;
	font-family: Georgia, Palatino, "Palatino Linotype", serif;
	color: #333;
	margin: 0;
	padding: 0;
    text-shadow: #fff 0px 1px 0px;
}

#wrap {
    margin: 10px auto auto;
    padding: 5px;
    width: 750px;
}

h1 {
    color: #73a4c4;
    font-size: 32px;
	text-align: center;
}

h2 {
	font-size: 16px;
    font-weight: bold;
	color: #444;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

a {
    color: #245571;
    text-decoration: none;
}

a:hover {
    color: #18384a;
}

#options {
    margin: 0;
    padding: 20px;
    padding-bottom: 0px;
}

li.option {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    width: 100%;
}

li.option label {
    width: 400px;
}

.option-field {
    float: right;
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fbfbfb;
    color: #333;
	font-family: Georgia, Palatino, "Palatino Linotype", serif;
    font-size: 16px;
    padding: 2px;
    text-align: right;
    -webkit-box-shadow: 0px 1px 0px #fff;
}

button {
    background-color: #e6e6e6;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
    color: #333;
    cursor: pointer;
    font-family: Georgia, Palatino, "Palatino Linotype", serif;
    font-size: 14px;
}

button:hover {
    background-color: #fbfbfb;
}

button:active {
    background-color: #555;
    color: #fbfbfb;
}

button.inline-button {
    display: inline-block;
    margin: 5px 5px;
}

select {
    font-size: 15px;
}

/* custom styles section */
.custom-style {
    clear: both;
}

.custom-style-url {
    padding: 2px;
    float: left;
}

.custom-style-url:hover {
    background-color: #fbfbfb;
    outline: 1px solid #ccc;
    cursor: text;
}

.custom-style-url:focus {
    outline: 1px solid #aaa;
}

#custom-styles input {
    text-align: left;
    width: 400px;
    outline: none;
    border: 1px solid #ccc;
    display: inline-block;
}

#custom-styles .button-container {
    float: right;
}

.before-focus {
    font-style: italic;
    color: #bbb !important;
}

textarea.stylebot-css-code {
    color: #333 ;
    font-size: 11px ;
    font-family: Monaco, 'Lucida Console', monospace ;
    line-height: 16px;
    padding: 2px;
    display: block;
}

#stylebot-modal div {
	font-family: Georgia, Palatino, "Palatino Linotype", serif;
	font-size: 16px;
}

#stylebot-modal .description {
    color: #666;
}

#stylebot-modal input {
    text-align: left;
}

#stylebot-modal button {
    float: right;
    margin: 0px;
    margin-left: 4px;
}

#stylebot-modal textarea {
    width: 100% !important;
}

.description {
    color: #444;
    font-size: 13px !important;
}

#footer {
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    padding-bottom: 20px;
}