#stylebot-preview {
  background: rgba(0, 0, 0, 0.70) !important;
  color: #fff !important;
  position: fixed;
  top: 75% !important;
  font-size: 20px !important;
  z-index: 10000 !important;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif !important;
  max-width: 800px !important;
  padding: 10px !important;
  border-radius: 5px !important;
}

#stylebot-preview-meta {
  font-size: 15px !important;
  padding-top: 5px !important;
}

#stylebot-preview-description {
  font-size: 15px !important;
  padding-top: 8px !important;
}

#stylebot-preview h1 {
  font-size: 25px !important;
  font-weight: normal !important;
  color: #fff !important;
}
