<div data-url="{{url}}" class="style" tabindex=0>
    <span class="style-url-container">
        <input class="toggle-style" type="checkbox" title="Enable or disable this style" tabindex=-1 checked={{enabled}} />
        <div class="style-url">{{url}}</div>
    </span>
    <div class="controls">
        <div title="Share Style" class="tipsy button share-style" tabindex=0></div>
        <div title="Edit Style" class="tipsy button show-edit-style" tabindex=0></div>
        <div title="Delete Style" class="tipsy button delete-style close-button" tabindex=0></div>
    </div>
</div>
